# ğŸ›’ **ì—°ê´€ ë¶„ì„ (Association Rule Analysis) ê³¼ì œ**

### <span style="color:black; background-color:#F5F5F5;"> **Q1. ì—°ê´€ ê·œì¹™ {ìš°ìœ } â†’ {ì¿ í‚¤}ê°€ ë„ì¶œë˜ì—ˆì„ ë•Œ, ë‹¤ìŒ ìš©ì–´ë“¤ì´ ê°ê° ë¬´ì—‡ì„ ì˜ë¯¸í•˜ëŠ”ì§€ ì„¤ëª…í•˜ì‹œì˜¤.**
#### <span style="color:black; background-color:#F5F5F5;">**â‘  ì§€ì§€ë„(support) â‘¡ ì‹ ë¢°ë„(confidence) â‘¢ í–¥ìƒë„(lift)** </span>

ë‹µ:
- ì§€ì§€ë„ - ì „ì²´ ê±°ë˜ì—ì„œ ìš°ìœ ì™€ ì¿ í‚¤ê°€ í•¨ê»˜ êµ¬ë§¤ëœ ê±°ë˜ì˜ ë¹„ìœ¨
- ì‹ ë¢°ë„ - ìš°ìœ ê°€ í¬í•¨ëœ ê±°ë˜ ì¤‘ì—ì„œ ì¿ í‚¤ê°€ í•¨ê»˜ êµ¬ë§¤ëœ ê±°ë˜ì˜ ë¹„ìœ¨
- í–¥ìƒë„ - ì‹ ë¢°ë„ë¥¼ ì§€ì§€ë„ë¡œ ë‚˜ëˆˆ ê²ƒ, ìš°ìœ ë¥¼ ì‚° ê³ ê°ì´ ì¿ í‚¤ë¥¼ ì‚´ ìƒëŒ€ì  í™•ë¥

### <span style="color:black; background-color:#F5F5F5;"> **Q2. Apriori ì•Œê³ ë¦¬ì¦˜ì´ ì²˜ë¦¬í•´ì•¼ í•  í›„ë³´ í•­ëª© ìˆ˜ê°€ ê¸°í•˜ê¸‰ìˆ˜ì ìœ¼ë¡œ ì¦ê°€í•˜ëŠ” ì´ìœ ì™€, FP-Growthê°€ ì´ë¥¼ ì–´ë–»ê²Œ í•´ê²°í•˜ëŠ”ì§€ ì„¤ëª…í•˜ì‹œì˜¤.**

ë‹µ:
Aprioriì•Œê³ ë¦¬ì¦˜ì€ ì²˜ë¦¬í•  í›„ë³´ í•­ëª© ìˆ˜ì˜ ëª¨ë“  ë¶€ë¶„ì§‘í•©ì„ ìƒìœ„ë¶€í„° êµ¬í•´ê°€ë©´ì„œ ì‘ì—…ì„ í•´ì•¼ í•˜ê¸° ë•Œë¬¸ì—, í›„ë³´ í•­ëª© ìˆ˜ê°€ ì¦ê°€í•˜ë©´ ì²˜ë¦¬í•´ì•¼í•  ì¼€ì´ìŠ¤ê°€ ì§€ìˆ˜ì ìœ¼ë¡œ ì¦ê°€í•˜ê¸° ë•Œë¬¸ì´ë‹¤.

FP-GrowthëŠ” ë¨¼ì € ë°ì´í„°ë¥¼ í•œë²ˆì— í›‘ì–´ ëª¨ë“  í•­ëª© ì¤‘ ìµœì†Œì§€ì§€ë„ ì´ìƒì˜ í›„ë³´ë§Œ ë‚¨ê¸´ í›„, ë¹ˆë„ ìˆœìœ¼ë¡œ ì •ë ¬í•œ ë’¤ íŠ¸ë¦¬ë¥¼ ìƒì„±í•˜ëŠ” ë°©ì‹ìœ¼ë¡œ ì—°ê´€ ê·œì¹™ì„ ë„ì¶œí•œë‹¤. í›„ë³´ í•­ëª©ì„ ë¯¸ë¦¬ ì¡°í•©í•˜ì§€ ì•Šê³  ì‘ì—…ì„ í•œë‹¤

# <span style="color:black; background-color:#F5F5F5;"> ğŸ’¸ **ì—°ê´€ ë¶„ì„ì„ í™œìš©í•œ ì‰ë§ˆíŠ¸(Ing-Mart) ê³ ê° ì¥ë°”êµ¬ë‹ˆ íŒ¨í„´ ë¶„ì„ ë° ë¹„ì¦ˆë‹ˆìŠ¤ ì „ëµ ìˆ˜ë¦½** </span>

<strong>ì£½ì§€ë„ ì•Šê³  ë‹¤ì‹œ ëŒì•„ì˜¨ ì‰ë§ˆíŠ¸..! ğŸ¤£ğŸ«¥ğŸ˜«ğŸ™ƒ<br>
ì´ë²ˆ ì—°ê´€ ë¶„ì„ ì‹¬í™” ì„¸ì…˜ì˜ ê³¼ì œëŠ” ì‰ë§ˆíŠ¸ì˜ ê³ ê° ì¥ë°”êµ¬ë‹ˆ ë¶„ì„ê³¼ ì „ëµ ìˆ˜ë¦½ì…ë‹ˆë‹¤~ <strong>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ì§€ë‚œ ì‹¬í™” ì„¸ì…˜ì—ì„œ ë°°ìš´ ê°œë…ê³¼ ì‹¤ìŠµ ë‚´ìš©ì„ ë°”íƒ•ìœ¼ë¡œ ì•„ë˜ ë¹ˆì¹¸ì„ ì±„ì›Œì£¼ì‹œê³ , í•´ë‹¹ ì¥ë°”êµ¬ë‹ˆ ê²°ê³¼ë¥¼ ë¶„ì„í•˜ì—¬ ì´ì— ì í•©í•œ ì „ëµì„ ì œì‹œí•´ì£¼ì‹œë©´ ë©ë‹ˆë‹¤! <strong>
</span>

## **1ï¸âƒ£ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° ë° ì „ì²˜ë¦¬**

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import fpgrowth
import warnings
warnings.simplefilter(action='ignore', category=DeprecationWarning)

In [5]:
# !pip install mlxtend

- ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
  - 1ì°¨ ì¸ì‚¬ì´ì½˜ ë•Œ í™œìš©í•˜ì…¨ë˜ ë°ì´í„° ì›ë³¸ì„ í™œìš©í•´ì£¼ì‹œë©´ ë©ë‹ˆë‹¤!
  - ì•Œë§ê²Œ ê²½ë¡œ ì§€ì •í•´ì£¼ì„¸ìš”~

In [7]:
transaction_data = pd.read_csv('transaction_data.csv')
product = pd.read_csv('product.csv')

In [11]:
transaction_data.head()

,Household_ID,Basket_ID,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match)
0,1803,30780785930,1065887,338,252,1,8.99,1419,37,-1.00,0.0,0.0
1,2299,33768622588,1073244,446,456,1,1.00,2030,66,-1.59,0.0,0.0
2,158,30202616809,7025114,343,225,1,1.50,1246,33,-0.50,-1.0,0.0
3,2347,42076926172,1064299,438,695,1,2.50,1430,100,-2.89,0.0,0.0
4,1430,31625201009,1040197,31742,312,1,2.29,1423,45,0.00,0.0,0.0

- ì´ìƒì¹˜ ì²˜ë¦¬
  - ì˜ˆì‹œë¡œ ì œì‹œí•´ë“œë¦¬ì§€ë§Œ ì¶”ê°€ì ìœ¼ë¡œ í•„ìš”í•œ ë¶€ë¶„ì€ ì „ì²˜ë¦¬ ì²˜ë¦¬í•´ì£¼ì„¸ìš”!

In [13]:
# Quantity ì—´ì— ëŒ€í•´ Z-scoreë¥¼ ê³„ì‚°í•œ ë’¤, ì ˆëŒ“ê°’ì„ ì·¨í•´ ìƒˆë¡œìš´ ì—´ 'z_score'ì— ì €ì¥
transaction_data["z_score"] = np.abs(stats.zscore(transaction_data["Quantity"]))

# Z-scoreê°€ 3ì„ ì´ˆê³¼í•˜ëŠ” ì´ìƒì¹˜(ì¦‰, í‰ê· ì—ì„œ 3í‘œì¤€í¸ì°¨ ì´ìƒ ë²—ì–´ë‚œ ê°’)ë¥¼ ì¶”ì¶œ
outliers_zscore = transaction_data[transaction_data["z_score"] > 3]

- ê³ ê° - ìƒí’ˆ í–‰ë ¬ ìƒì„±

In [15]:
# ê³ ê°-ìƒí’ˆ pivot_table ìƒì„± (í–‰: ê³ ê°, ì—´: ìƒí’ˆ, ê°’: ì´ êµ¬ë§¤ê¸ˆì•¡)
user_item_matrix = transaction_data.pivot_table(
    index='Household_ID',     # ê°€êµ¬ ID ê¸°ì¤€
    columns='Product_ID',     # ìƒí’ˆ ID ê¸°ì¤€
    values='Sales_Value',     # êµ¬ë§¤ ê¸ˆì•¡
    aggfunc='sum',            # ìƒí’ˆë³„ ì´ êµ¬ë§¤ê¸ˆì•¡
    fill_value=0              # êµ¬ë§¤ ì´ë ¥ ì—†ìœ¼ë©´ 0
)
user_item_matrix

Product_ID,25671,26081,26093,26190,26355,26426,26540,26601,26636,26691,...,18273019,18273051,18273115,18273133,18292005,18293142,18293439,18293696,18294080,18316298
Household_ID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# í–‰ë ¬ì˜ í¬ê¸° í™•ì¸ (ê³ ê° ìˆ˜ Ã— ìƒí’ˆ ìˆ˜)
user_item_matrix.shape

(2500, 92339)

- êµ¬ë§¤ê°€ ì ì€ ì‚¬ìš©ì/ìƒí’ˆ í•„í„°ë§

In [19]:
# í•„í„°ë§ ê¸°ì¤€ ì •ì˜
min_product_purchases = 10   # ìµœì†Œ 10ëª… ì´ìƒì´ êµ¬ë§¤í•œ ìƒí’ˆë§Œ ì‚¬ìš©
min_user_purchases = 2       # ìµœì†Œ 2ê°œ ì´ìƒ ìƒí’ˆ êµ¬ë§¤í•œ ì‚¬ìš©ìë§Œ ì‚¬ìš©

# ìƒí’ˆë³„ êµ¬ë§¤ëœ ê³ ê° ìˆ˜ ê³„ì‚°
product_purchase_count = (user_item_matrix > 0).sum()

# ê³ ê°ë³„ êµ¬ë§¤í•œ ìƒí’ˆ ìˆ˜ ê³„ì‚°
user_purchase_count = (user_item_matrix > 0).sum(axis=1)

# ê¸°ì¤€ì„ ë§Œì¡±í•˜ëŠ” ìƒí’ˆê³¼ ì‚¬ìš©ì í•„í„°ë§
filtered_products = product_purchase_count[product_purchase_count >= min_product_purchases].index
filtered_users = user_purchase_count[user_purchase_count >= min_user_purchases].index

# í•„í„°ë§ëœ í–‰ë ¬ ì¶”ì¶œ
filtered_matrix = user_item_matrix.loc[filtered_users, filtered_products]
print(f"\n2. Filtered Matrix Shape: {filtered_matrix.shape}")

2. Filtered Matrix Shape: (2500, 23326)

- ì´ìƒì¹˜ ë° ìŒìˆ˜ ì œê±°í•œ íŠ¸ëœì­ì…˜ ë°ì´í„° ìƒì„±

In [21]:
# Z-score ê¸°ì¤€ìœ¼ë¡œ ì´ìƒì¹˜ ì œê±° (Â±3 ì´ìƒ) + êµ¬ë§¤ ìˆ˜ëŸ‰ì´ ì–‘ìˆ˜ì¸ ë°ì´í„°ë§Œ ë‚¨ê¹€
transaction_data_cleaned = transaction_data[
    (transaction_data['z_score'] < 3) & 
    (transaction_data['z_score'] > -3) & 
    (transaction_data['z_score'] > 0)
]
print(transaction_data_cleaned.shape)

# ë°ì´í„° ìƒ˜í”Œ í™•ì¸
transaction_data_cleaned.head()

(2573787, 13)

,Household_ID,Basket_ID,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score
0,1803,30780785930,1065887,338,252,1,8.99,1419,37,-1.00,0.0,0.0,0.086202
1,2299,33768622588,1073244,446,456,1,1.00,2030,66,-1.59,0.0,0.0,0.086202
2,158,30202616809,7025114,343,225,1,1.50,1246,33,-0.50,-1.0,0.0,0.086202
3,2347,42076926172,1064299,438,695,1,2.50,1430,100,-2.89,0.0,0.0,0.086202
4,1430,31625201009,1040197,31742,312,1,2.29,1423,45,0.00,0.0,0.0,0.086202

- ì •ì œëœ ë°ì´í„°ë¡œ ë‹¤ì‹œ ì‚¬ìš©ì-ìƒí’ˆ í–‰ë ¬ ìƒì„± ë° í•„í„°ë§

In [23]:
# ë” ì •í™•í•œ ì—°ê´€ ê·œì¹™ ë„ì¶œì„ ìœ„í•´ ì´ìƒì¹˜ ì œê±° í›„ ì¬ìƒì„±
# ì •ì œëœ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì‚¬ìš©ì-ìƒí’ˆ ë§¤íŠ¸ë¦­ìŠ¤ ë‹¤ì‹œ ìƒì„±
user_item_matrix = transaction_data_cleaned.pivot_table(
    index='Household_ID',     # ê°€êµ¬ ID ê¸°ì¤€
    columns='Product_ID',     # ìƒí’ˆ ID ê¸°ì¤€
    values='Sales_Value',     # êµ¬ë§¤ ê¸ˆì•¡
    aggfunc='sum',            # ìƒí’ˆë³„ ì´ êµ¬ë§¤ê¸ˆì•¡
    fill_value=0              # êµ¬ë§¤ ì´ë ¥ ì—†ìœ¼ë©´ 0
)

# í•„í„°ë§ ê¸°ì¤€ ì¬ì‚¬ìš©
min_product_purchases = 10  
min_user_purchases = 2     

# ìƒí’ˆ/ì‚¬ìš©ìë³„ êµ¬ë§¤ íšŸìˆ˜ ê³„ì‚°
product_purchase_count = (user_item_matrix > 0).sum()
user_purchase_count = (user_item_matrix > 0).sum(axis=1)

# ì¡°ê±´ì— ë§ëŠ” ìƒí’ˆê³¼ ì‚¬ìš©ì í•„í„°
filtered_products = product_purchase_count[product_purchase_count >= min_product_purchases].index
filtered_users = user_purchase_count[user_purchase_count >= min_user_purchases].index

# ìµœì¢… í•„í„°ë§ëœ í–‰ë ¬ ìƒì„±
filtered_matrix = user_item_matrix.loc[filtered_users, filtered_products]
filtered_matrix

Product_ID,27658,34873,43020,43871,59666,138619,197681,201704,215923,244960,...,18005913,18005929,18022252,18055205,18055329,18105264,18106286,18119016,18147612,18203921
Household_ID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- ìƒí’ˆ ì •ë³´ ì¡°ì¸í•˜ì—¬ ì œí’ˆ íƒ€ì… ë‹¨ìœ„ë¡œ ë¶„ì„ ì¤€ë¹„

In [25]:
# Product_IDì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° productì™€ inner joiní•˜ì—¬ Product_type ì •ë³´ ì¶”ê°€
merged_data = pd.merge(transaction_data_cleaned, product, on='Product_ID', how='inner')
merged_data

,Household_ID,Basket_ID,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score,Manufacturer,Brand,Category,Subcategory,Product_type,Curr_Size_of_Product
0,1803,30780785930,1065887,338,252,1,8.99,1419,37,-1.00,0.0,0.0,0.086202,69,Private,DRUG GM,ANALGESICS,ADULT ANALGESICS,
1,2299,33768622588,1073244,446,456,1,1.00,2030,66,-1.59,0.0,0.0,0.086202,2110,National,GROCERY,ICE CREAM/MILK/SHERBTS,PREMIUM PINTS,PT
2,158,30202616809,7025114,343,225,1,1.50,1246,33,-0.50,-1.0,0.0,0.086202,1838,National,GROCERY,BAKED BREAD/BUNS/ROLLS,MAINSTREAM WHEAT/MULTIGRAIN BR,20 OZ
3,2347,42076926172,1064299,438,695,1,2.50,1430,100,-2.89,0.0,0.0,0.086202,2193,National,GROCERY,ICE CREAM/MILK/SHERBTS,PREMIUM,48 OZ
4,1430,31625201009,1040197,31742,312,1,2.29,1423,45,0.00,0.0,0.0,0.086202,869,National,GROCERY,TEAS,TEA BAGS HERBAL & FLAVORED,20 CT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2573782,225,33655617762,6463742,31642,447,1,2.29,1942,65,-1.70,0.0,0.0,0.086202,69,Private,GROCERY,CHEESE,SHREDDED CHEESE,16 OZ
2573783,266,40097402794,968269,367,551,1,1.99,2255,79,0.00,0.0,0.0,0.086202,1091,National,GROCERY,HOUSEHOLD CLEANG NEEDS,TOILET BOWL MANUAL,24 OZ
2573784,2364,30443976140,2041688,673,230,2,1.50,1757,34,-0.62,0.0,0.0,0.085335,69,Private,GROCERY,MEAT - SHELF STABLE,CHILI: CANNED,15 OZ
2573785,1048,31145396229,1082185,436,280,1,0.74,1445,41,0.00,0.0,0.0,0.086202,2,National,PRODUCE,TROPICAL FRUIT,BANANAS,40 LB
2573786,2270,28318130093,1138858,445,111,1,2.69,808,17,-0.30,0.0,0.0,0.086202,151,National,GROCERY,FROZEN PIZZA,PIZZA/PREMIUM,12.5 OZ

- ì¥ë°”êµ¬ë‹ˆ(Basket_ID)ë³„ë¡œ êµ¬ë§¤í•œ ìƒí’ˆíƒ€ì… ëª©ë¡ ì •ë¦¬

In [27]:
# ê° ê±°ë˜(Basket_ID)ë§ˆë‹¤ êµ¬ë§¤í•œ ìƒí’ˆ ìœ í˜•(Product_type)ì˜ ë¦¬ìŠ¤íŠ¸ ìƒì„±
transactions = merged_data.groupby('Basket_ID')['Product_type'].unique().reset_index()
transactions

          Basket_ID                                       Product_type
0       26984851472  [POTATOES RUSSET (BULK&BAG), CELERY, ONIONS SW...
1       26984851516  [HAMBURGER BUNS, TRAY PACK/CHOC CHIP COOKIES, ...
2       26984896261  [GRANOLA BARS, EGGS - X-LARGE, LINKS - RAW, SN...
3       26984905972  [RAMEN NOODLES/RAMEN CUPS, MAINSTREAM WHITE BR...
4       26984945254  [SEASONAL CANDY BOX NON-CHOCOLA, INSIDE FROST ...
...             ...                                                ...
255331  42302712006  [TORTILLA/NACHO CHIPS, SFT DRNK 2 LITER BTL CA...
255332  42302712189  [PLSTC CTLRYTBLCLTHSTTHPKSST, REFRIG DIPS, PAP...
255333  42302712298  [BUTTER, HAIR CONDITIONERS AND RINSES, SHAMPOO...
255334  42305362497  [SEASONAL MISCELLANEOUS, SFT DRNK 2 LITER BTL ...
255335  42305362535  [BEERALEMALT LIQUORS, MACARONI & CHEESE DNRS, ...

[255336 rows x 2 columns]

- íŠ¸ëœì­ì…˜ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜

In [29]:
transaction_list = transactions['Product_type'].tolist()
transaction_list = [list(item) for item in transaction_list]
print(transaction_list[:5])

[['POTATOES RUSSET (BULK&BAG)', 'CELERY', 'ONIONS SWEET (BULK&BAG)', 'ORGANIC CARROTS', 'BANANAS'], ['HAMBURGER BUNS', 'TRAY PACK/CHOC CHIP COOKIES', 'PEANUT BUTTER', 'SPONGES: BATH HOUSEHOLD', 'GRAHAM CRACKERS'], ['GRANOLA BARS', 'EGGS - X-LARGE', 'LINKS - RAW', 'SNACK CRACKERS', 'GRND/PATTY - ROUND'], ['RAMEN NOODLES/RAMEN CUPS', 'MAINSTREAM WHITE BREAD'], ['SEASONAL CANDY BOX NON-CHOCOLA', 'INSIDE FROST BULBS', 'CHEWING GUM']]

- íŠ¸ëœì­ì…˜ í†µê³„

In [31]:
transactions['num_products'] = transactions['Product_type'].apply(len)
average_products_per_order = transactions['num_products'].mean()
max_products_per_order = transactions['num_products'].max()
min_products_per_order = transactions['num_products'].min()

print(f"Average number of products per order: {average_products_per_order}")
print(f"Maximum number of products per order: {max_products_per_order}")
print(f"Minimum number of products per order: {min_products_per_order}")

Average number of products per order: 8.548778863928314
Maximum number of products per order: 129
Minimum number of products per order: 1

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ì§€ê¸ˆë¶€í„´ ì§€ë‚œ ì‹¤ìŠµ ë•Œ í–ˆë˜ ê³¼ì •ì˜ ë°˜ë³µ! <strong>
</span>

## **2ï¸âƒ£ ì—°ê´€ ë¶„ì„ - TransactionEncoderë¡œ ì´ì§„ í–‰ë ¬ë¡œ ë³€í™˜**

In [33]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transaction_list).transform(transaction_list)  # í•™ìŠµê³¼ ë³€í™˜ì„ ë”°ë¡œë”°ë¡œ!

df_encoded = pd.DataFrame(te_ary, columns=te.columns_).astype(int)
df_encoded.head()

,,*ATH ACCES:TOWEL BARS/SOAP D,*ATTERIES:CAMERA/FLASH/WATCH,*BOYS/GIRLS MISC TOYS,*GOURMET/UPSCALE,*MISC. LOBBY ITEMS,*PURSES UMBRELLAS,*SCRAPBOOK,*SLEDS-WINTER TOYS,*SPORT NOVELTIES,...,WRITING INSTRUMENTS,XMAS PLUSH,YARDLEY,YEAST: DRY,YELLOW JACKET,YELLOW SUMMER SQUASH,YNG MEN SCREEN PRINT T-SHIRTS,YOGURT,YOGURT MULTI-PACKS,YOGURT NOT MULTI-PACKS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## **3ï¸âƒ£ ì—°ê´€ ë¶„ì„ - Apriori ì•Œê³ ë¦¬ì¦˜ í™œìš©**

- Apriori ì•Œê³ ë¦¬ì¦˜ìœ¼ë¡œ ë¹ˆë°œ í•­ëª© ì§‘í•© ë„ì¶œ (ì§€ì§€ë„ 0.05% ì´ìƒ)

In [39]:
from mlxtend.frequent_patterns import apriori

filtered_onehot = df_encoded.loc[:, df_encoded.sum(axis=0) > 20]

# apriorië¡œ frequent_itemsets ì¶”ì¶œ (ìµœì†Œì§€ì§€ë„ëŠ” 0.005, use_colnames=True, low_memory=True)
frequent_itemsets = apriori(filtered_onehot, min_support=0.005, use_colnames=True, low_memory=True)
frequent_itemsets.head()

    support                        itemsets
0  0.028950                             ( )
1  0.011922              (ADULT ANALGESICS)
2  0.029988                  (ADULT CEREAL)
3  0.005389  (AIR CARE - CONTINUOUS ACTION)
4  0.008033            (ALKALINE BATTERIES)

In [46]:
# ê³µì§‘í•©ì´ ìƒê²¨ë²„ë ¤ ì œê±°í•´ì•¼ê² ì–´...

frequent_itemsets = frequent_itemsets[frequent_itemsets['itemsets'].apply(lambda x: len(x) > 0)]
frequent_itemsets.head()

    support                        itemsets
0  0.028950                             ( )
1  0.011922              (ADULT ANALGESICS)
2  0.029988                  (ADULT CEREAL)
3  0.005389  (AIR CARE - CONTINUOUS ACTION)
4  0.008033            (ALKALINE BATTERIES)

- `association_rules`ë¡œ ì—°ê´€ ê·œì¹™ ë„ì¶œ ë° í•„í„°ë§(ì‹ ë¢°ë„ 40% ì´ìƒ)

In [48]:
num_itemsets = len(frequent_itemsets)

# confidence ê¸°ì¤€ìœ¼ë¡œ ì—°ê´€ ê·œì¹™(rules)ì„ ì¶”ì¶œí•˜ì„¸ìš”.
# ì¡°ê±´: min_threshold=0.4, metric="***",num_itemsets = num_itemsets
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.4, num_itemsets = num_itemsets)

rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head()

,antecedents,consequents,support,confidence,lift
0,( ),(FLUID MILK WHITE ONLY),0.011777,0.406791,1.692137
1,(ADULT CEREAL),(BANANAS),0.012102,0.403552,3.397792
2,(ADULT CEREAL),(FLUID MILK WHITE ONLY),0.019128,0.637848,2.653267
3,(ALL FAMILY CEREAL),(FLUID MILK WHITE ONLY),0.026111,0.648920,2.699323
4,(APPLE JUICE & CIDER (OVER 50%),(FLUID MILK WHITE ONLY),0.006873,0.588729,2.448945

In [50]:
print(rules.shape)

(447, 14)

- ì—°ê´€ ë¶„ì„ìš© ë¦¬ìŠ¤íŠ¸ êµ¬ì¡° ì •ë¦¬

In [52]:
transaction_list = [list(t) if isinstance(t, (list, np.ndarray)) else [t] for t in transaction_list]
transaction_list = [t.tolist() if isinstance(t, np.ndarray) else list(t) if isinstance(t, list) else [t] for t in transaction_list]

- ë¶ˆí•„ìš”í•œ ì§€í‘œ ì œê±°

In [54]:
apriori = rules.drop(columns=[
    "antecedent support", 
    "consequent support", 
    "representativity", 
    "conviction", 
    "zhangs_metric", 
    "jaccard", 
    "certainty", 
    "kulczynski"
])

- ìœ ì˜ë¯¸í•œ ê·œì¹™ í•„í„°ë§(í–¥ìƒë„ 1 ì´ìƒ)

In [56]:
apriori = apriori[apriori['lift'] >= 1]

- ê²°ê³¼ í™•ì¸

In [59]:
apriori

,antecedents,consequents,support,confidence,lift,leverage
0,( ),(FLUID MILK WHITE ONLY),0.011777,0.406791,1.692137,0.004817
1,(ADULT CEREAL),(BANANAS),0.012102,0.403552,3.397792,0.008540
2,(ADULT CEREAL),(FLUID MILK WHITE ONLY),0.019128,0.637848,2.653267,0.011919
3,(ALL FAMILY CEREAL),(FLUID MILK WHITE ONLY),0.026111,0.648920,2.699323,0.016438
4,(APPLE JUICE & CIDER (OVER 50%),(FLUID MILK WHITE ONLY),0.006873,0.588729,2.448945,0.004067
...,...,...,...,...,...,...
442,"(KIDS CEREAL, SHREDDED CHEESE)",(MAINSTREAM WHITE BREAD),0.005076,0.442623,4.209848,0.003870
443,"(SOFT DRINKS 12/18&15PK CAN CAR, KIDS CEREAL)",(MAINSTREAM WHITE BREAD),0.005150,0.455648,4.333730,0.003962
444,"(POTATO CHIPS, SHREDDED CHEESE)",(MAINSTREAM WHITE BREAD),0.005604,0.406419,3.865504,0.004155
445,"(SOFT DRINKS 12/18&15PK CAN CAR, SNACK CAKE - ...",(MAINSTREAM WHITE BREAD),0.005440,0.479959,4.564952,0.004248
446,"(MAINSTREAM WHITE BREAD, SOFT DRINKS 12/18&15P...",(FLUID MILK WHITE ONLY),0.005005,0.721626,3.001762,0.003338

## **[ ì°¸ê³  ] ì—°ê´€ ë¶„ì„ - FP-Growth ì•Œê³ ë¦¬ì¦˜ í™œìš©**

- ì½”ë“œë¥¼ ëŒë¦´ ë•Œ ì¡°ì‹¬í•´ì£¼ì„¸ìš”!

In [61]:
filtered_onehot

,,ABRASIVES,ACNE MEDICATIONS,ACTIVITY,ADDITIVES/FLUIDS,ADHESIVES/CAULK,ADULT ANALGESICS,ADULT CEREAL,ADULT INCONTINENCE BRIEFS,ADULT INCONTINENCE MISC PRODUC,...,WRAP,WREATHS,WREATHS/TINSEL/GARLAND,WRITING INSTRUMENTS,XMAS PLUSH,YEAST: DRY,YELLOW SUMMER SQUASH,YOGURT,YOGURT MULTI-PACKS,YOGURT NOT MULTI-PACKS
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255331,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255332,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255333,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255334,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
255335,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¥¹ ì‹¤ìŠµ ë•Œ ë‹¤ë£¨ì—ˆë˜ FP-Growth ì•Œê³ ë¦¬ì¦˜ì´ ì°¸ê³  ìë£Œê°€ ëœ ì´ìœ ëŠ” ë‹¤ìŒ ì…€ ë•Œë¬¸ì´ì—ìš”... ëŒë¦´ ë•Œ ì¡°ì‹¬í•´ì£¼ì„¸ìš”... 30ë¶„ì”© ê±¸ë¦´ ë•Œë„ ìˆê±°ë“ ìš”... <strong>
</span>

<span style="color:black; background-color:#fff5b1; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤” "ì—¥? ê·¼ë° FP-Growth ì•Œê³ ë¦¬ì¦˜ì´ Apriori ì•Œê³ ë¦¬ì¦˜ë³´ë‹¤ ê³„ì‚°ì´ ë¹ ë¥´ë‹¤ê³  í•˜ì§€ ì•Šì•˜ë‚˜?"<strong>
</span>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ë„¤! ê³µë¶€ë¥¼ ì—´ì‹¬íˆ í•˜ì…¨êµ°ìš”!? ë§ìŠµë‹ˆë‹¤! ì´ë¡ ìƒ FP-Growth ì•Œê³ ë¦¬ì¦˜ì´ Apriori ì•Œê³ ë¦¬ì¦˜ì´ ê³„ì‚°ì´ ë” ë¹ ë¦…ë‹ˆë‹¤!<strong>
</span>

<span style="color:black; background-color:#fff5b1; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤” ì—¥ ê·¸ëŸ¼ ì™œ...? <strong>
</span>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ì‚¬ìš©í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ ì°¨ì´ì…ë‹ˆë‹¤! ì €í¬ëŠ” mlxtend ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í–ˆìŠµë‹ˆë‹¤! <strong>
</span>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ mlxtend ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ ê²½ìš° AprioriëŠ” Cythonìœ¼ë¡œ ìµœì í™” ë˜ì–´ ë§¤ìš° ë¹ ë¥´ê²Œ ì‘ë™í•˜ì§€ë§Œ, FP-GrowthëŠ” ìˆœìˆ˜ Pythonìœ¼ë¡œ êµ¬í˜„í•˜ê¸° ë•Œë¬¸ì— ì˜¤íˆë ¤ ëŠë¦´ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ ê²½ìš° fpgrowth_py ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ í™œìš©í•œë‹¤ë©´ ë” ë¹ ë¥´ê²Œ ì‘ë™í•  ìˆ˜ ìˆì–´ìš”~ <strong>
</span>

- FP-Growth ì•Œê³ ë¦¬ì¦˜ìœ¼ë¡œ ë¹ˆë°œ í•­ëª© ì§‘í•© ë„ì¶œ (ì§€ì§€ë„ 0.05% ì´ìƒ)

In [63]:
from mlxtend.frequent_patterns import fpgrowth

# FP-Growth ì•Œê³ ë¦¬ì¦˜ì„ ì‚¬ìš©í•´ frequent_itemsets_fpì„ ìƒì„±í•˜ì„¸ìš”.
# ì¡°ê±´: ìµœì†Œì§€ì§€ë„: 0.005, use_colnames=True, ì…ë ¥ ë°ì´í„°ëŠ” boolean íƒ€ì…(astype(bool))
frequent_itemsets_fp = fpgrowth(filtered_onehot.astype(bool), min_support=0.005, use_colnames=True)
frequent_itemsets_fp.head()

    support                      itemsets
0  0.118769                     (BANANAS)
1  0.038075  (POTATOES RUSSET (BULK&BAG))
2  0.023757     (ONIONS SWEET (BULK&BAG))
3  0.018846                      (CELERY)
4  0.040057              (HAMBURGER BUNS)

- `association_rules`ë¡œ ì—°ê´€ ê·œì¹™ ë„ì¶œ ë° í•„í„°ë§(ì‹ ë¢°ë„ 40% ì´ìƒ)

In [64]:
# confidence ê¸°ì¤€ìœ¼ë¡œ ì—°ê´€ ê·œì¹™(rules)ì„ ì¶”ì¶œí•˜ì„¸ìš”.
# ì¡°ê±´: min_threshold=0.4, metric="***"
rules_fp = association_rules(frequent_itemsets_fp, metric="confidence", min_threshold=0.4)

rules_fp.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BANANAS),(FLUID MILK WHITE ONLY),0.118769,0.240401,0.061339,0.516455,2.148305,1.0,0.032787,1.570895,0.606557,0.205952,0.363420,0.385803
1,(POTATOES RUSSET (BULK&BAG)),(FLUID MILK WHITE ONLY),0.038075,0.240401,0.019253,0.505657,2.103392,1.0,0.010100,1.536584,0.545341,0.074272,0.349206,0.292872
2,"(POTATOES RUSSET (BULK&BAG), BANANAS)",(FLUID MILK WHITE ONLY),0.010798,0.240401,0.006779,0.627856,2.611706,1.0,0.004184,2.041145,0.623844,0.027736,0.510079,0.328028
3,"(POTATOES RUSSET (BULK&BAG), MAINSTREAM WHITE ...",(FLUID MILK WHITE ONLY),0.011487,0.240401,0.007586,0.660416,2.747144,1.0,0.004825,2.236852,0.643376,0.031052,0.552943,0.345986
4,"(POTATOES RUSSET (BULK&BAG), SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.008534,0.240401,0.005608,0.657182,2.733693,1.0,0.003557,2.215752,0.639653,0.023048,0.548686,0.340256

In [65]:
from IPython.display import display

print("ğŸ”¥ Frequent Itemsets:")
display(frequent_itemsets_fp)

print("\nğŸ”¥ Association Rules:")
display(rules_fp)

ğŸ”¥ Frequent Itemsets:

       support                                           itemsets
0     0.118769                                          (BANANAS)
1     0.038075                       (POTATOES RUSSET (BULK&BAG))
2     0.023757                          (ONIONS SWEET (BULK&BAG))
3     0.018846                                           (CELERY)
4     0.040057                                   (HAMBURGER BUNS)
...        ...                                                ...
1477  0.005209             (PAPER NAPKINS, FLUID MILK WHITE ONLY)
1478  0.007261             (STRING CHEESE, FLUID MILK WHITE ONLY)
1479  0.006865   (CANDY BARS (MULTI PACK), FLUID MILK WHITE ONLY)
1480  0.006564  (ISOTONIC DRINKS SINGLE SERVE, FLUID MILK WHIT...
1481  0.005056            (STUFFING MIXES, FLUID MILK WHITE ONLY)

[1482 rows x 2 columns]

ğŸ”¥ Association Rules:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BANANAS),(FLUID MILK WHITE ONLY),0.118769,0.240401,0.061339,0.516455,2.148305,1.0,0.032787,1.570895,0.606557,0.205952,0.363420,0.385803
1,(POTATOES RUSSET (BULK&BAG)),(FLUID MILK WHITE ONLY),0.038075,0.240401,0.019253,0.505657,2.103392,1.0,0.010100,1.536584,0.545341,0.074272,0.349206,0.292872
2,"(POTATOES RUSSET (BULK&BAG), BANANAS)",(FLUID MILK WHITE ONLY),0.010798,0.240401,0.006779,0.627856,2.611706,1.0,0.004184,2.041145,0.623844,0.027736,0.510079,0.328028
3,"(POTATOES RUSSET (BULK&BAG), MAINSTREAM WHITE ...",(FLUID MILK WHITE ONLY),0.011487,0.240401,0.007586,0.660416,2.747144,1.0,0.004825,2.236852,0.643376,0.031052,0.552943,0.345986
4,"(POTATOES RUSSET (BULK&BAG), SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.008534,0.240401,0.005608,0.657182,2.733693,1.0,0.003557,2.215752,0.639653,0.023048,0.548686,0.340256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,(FACIAL TISSUE & PAPER HANDKE),(FLUID MILK WHITE ONLY),0.018113,0.240401,0.008910,0.491892,2.046132,1.0,0.004555,1.494956,0.520705,0.035696,0.331084,0.264477
443,(PAPER NAPKINS),(FLUID MILK WHITE ONLY),0.010704,0.240401,0.005209,0.486645,2.024305,1.0,0.002636,1.479675,0.511478,0.021183,0.324176,0.254156
444,(STRING CHEESE),(FLUID MILK WHITE ONLY),0.014115,0.240401,0.007261,0.514428,2.139877,1.0,0.003868,1.564340,0.540310,0.029367,0.360753,0.272316
445,(ISOTONIC DRINKS SINGLE SERVE),(FLUID MILK WHITE ONLY),0.015756,0.240401,0.006564,0.416605,1.732958,1.0,0.002776,1.302031,0.429722,0.026298,0.231969,0.221954
446,(STUFFING MIXES),(FLUID MILK WHITE ONLY),0.009380,0.240401,0.005056,0.539040,2.242253,1.0,0.002801,1.647862,0.559266,0.020660,0.393153,0.280036

In [76]:
fp_growth = rules_fp.drop(columns=[
    "antecedent support", 
    "consequent support", 
    "representativity", 
    "conviction", 
    "zhangs_metric", 
    "jaccard", 
    "certainty", 
    "kulczynski"
])

- ìœ ì˜ë¯¸í•œ ê·œì¹™ í•„í„°ë§(í–¥ìƒë„ 1 ì´ìƒ)

In [78]:
fp_growth = fp_growth[fp_growth['lift'] >= 1]
fp_growth

,antecedents,consequents,support,confidence,lift,leverage
0,(BANANAS),(FLUID MILK WHITE ONLY),0.061339,0.516455,2.148305,0.032787
1,(POTATOES RUSSET (BULK&BAG)),(FLUID MILK WHITE ONLY),0.019253,0.505657,2.103392,0.010100
2,"(POTATOES RUSSET (BULK&BAG), BANANAS)",(FLUID MILK WHITE ONLY),0.006779,0.627856,2.611706,0.004184
3,"(POTATOES RUSSET (BULK&BAG), MAINSTREAM WHITE ...",(FLUID MILK WHITE ONLY),0.007586,0.660416,2.747144,0.004825
4,"(POTATOES RUSSET (BULK&BAG), SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.005608,0.657182,2.733693,0.003557
...,...,...,...,...,...,...
442,(FACIAL TISSUE & PAPER HANDKE),(FLUID MILK WHITE ONLY),0.008910,0.491892,2.046132,0.004555
443,(PAPER NAPKINS),(FLUID MILK WHITE ONLY),0.005209,0.486645,2.024305,0.002636
444,(STRING CHEESE),(FLUID MILK WHITE ONLY),0.007261,0.514428,2.139877,0.003868
445,(ISOTONIC DRINKS SINGLE SERVE),(FLUID MILK WHITE ONLY),0.006564,0.416605,1.732958,0.002776
446,(STUFFING MIXES),(FLUID MILK WHITE ONLY),0.005056,0.539040,2.242253,0.002801

## **4ï¸âƒ£ ì—°ê´€ ë¶„ì„ - ê²°ê³¼ í•´ì„**

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ê²°ê³¼ë¥¼ í•´ì„í•˜ê³  ì „ëµì„ ì„¸ìš°ëŠ” ê²Œ í•´ë‹¹ ê³¼ì œì˜ í•µì‹¬ì´ë‹ˆ ê¼­!!!! ì„±ì˜ìˆê²Œ ê¹Šê²Œ ê³ ë¯¼í•œ í”ì ì„ ë‚¨ê²¨ì£¼ì„¸ìš”! <strong>
</span>

### **[ì—°ê´€ë¶„ì„] ì§€ì§€ë„ 0.9% ì´ìƒ, ì‹ ë¢°ë„ 55% ì´ìƒ, í–¥ìƒë„ 1 ì´ìƒ ì—°ê´€ ë¶„ì„**

In [82]:
results = apriori[(apriori['confidence']>0.55)&(apriori['support']>0.009)&(apriori['lift']>1)]
results.sort_values(by='lift', ascending=False)

,antecedents,consequents,support,confidence,lift,leverage
358,"(MAINSTREAM WHITE BREAD, KIDS CEREAL)",(FLUID MILK WHITE ONLY),0.012783,0.753637,3.134916,0.008705
320,"(DAIRY CASE 100% PURE JUICE - O, MAINSTREAM WH...",(FLUID MILK WHITE ONLY),0.010006,0.735463,3.059321,0.006736
221,"(ALL FAMILY CEREAL, BANANAS)",(FLUID MILK WHITE ONLY),0.010707,0.716082,2.978698,0.007113
256,"(KIDS CEREAL, BANANAS)",(FLUID MILK WHITE ONLY),0.009944,0.710607,2.955926,0.006580
331,"(MAINSTREAM WHITE BREAD, EGGS - LARGE)",(FLUID MILK WHITE ONLY),0.009035,0.705936,2.936496,0.005958
245,"(BANANAS, EGGS - LARGE)",(FLUID MILK WHITE ONLY),0.010527,0.699454,2.909530,0.006909
242,"(DAIRY CASE 100% PURE JUICE - O, BANANAS)",(FLUID MILK WHITE ONLY),0.014416,0.686370,2.855104,0.009367
279,"(BANANAS, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.014005,0.681532,2.834983,0.009065
395,"(MAINSTREAM WHITE BREAD, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.013535,0.679379,2.826025,0.008746
260,"(MAINSTREAM WHITE BREAD, BANANAS)",(FLUID MILK WHITE ONLY),0.016492,0.663986,2.761995,0.010521
237,"(CONDENSED SOUP, BANANAS)",(FLUID MILK WHITE ONLY),0.009180,0.661213,2.750460,0.005842
259,"(MAINSTREAM WHEAT/MULTIGRAIN BR, BANANAS)",(FLUID MILK WHITE ONLY),0.011307,0.655243,2.725626,0.007158
48,(CHOCOLATE MILK),(FLUID MILK WHITE ONLY),0.021619,0.654882,2.724125,0.013683
94,(KIDS CEREAL),(FLUID MILK WHITE ONLY),0.033007,0.654805,2.723806,0.020889
3,(ALL FAMILY CEREAL),(FLUID MILK WHITE ONLY),0.026111,0.648920,2.699323,0.016438
294,"(YOGURT NOT MULTI-PACKS, BANANAS)",(FLUID MILK WHITE ONLY),0.012243,0.643078,2.675022,0.007666
397,"(MAINSTREAM WHITE BREAD, SNACK CAKE - MULTI PACK)",(FLUID MILK WHITE ONLY),0.010339,0.641555,2.668689,0.006465
2,(ADULT CEREAL),(FLUID MILK WHITE ONLY),0.019128,0.637848,2.653267,0.011919
274,"(PREMIUM, BANANAS)",(FLUID MILK WHITE ONLY),0.009689,0.635990,2.645538,0.006027
282,"(SOFT DRINKS 12/18&15PK CAN CAR, BANANAS)",(FLUID MILK WHITE ONLY),0.013140,0.633736,2.636165,0.008155
352,"(IWS SINGLE CHEESE, MAINSTREAM WHITE BREAD)",(FLUID MILK WHITE ONLY),0.010457,0.631953,2.628745,0.006479
271,"(BANANAS, POTATO CHIPS)",(FLUID MILK WHITE ONLY),0.009638,0.626368,2.605515,0.005939
400,"(SOFT DRINKS 12/18&15PK CAN CAR, MAINSTREAM WH...",(FLUID MILK WHITE ONLY),0.014969,0.621160,2.583852,0.009175
430,"(SOFT DRINKS 12/18&15PK CAN CAR, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.010304,0.595653,2.477749,0.006145
389,"(MAINSTREAM WHITE BREAD, POTATO CHIPS)",(FLUID MILK WHITE ONLY),0.011941,0.590663,2.456990,0.007081
57,(DAIRY CASE 100% PURE JUICE - O),(FLUID MILK WHITE ONLY),0.037398,0.588391,2.447542,0.022118
64,(EGGS - X-LARGE),(FLUID MILK WHITE ONLY),0.021720,0.583360,2.426612,0.012769
200,(WAFFLES/PANCAKES/FRENCH TOAST),(FLUID MILK WHITE ONLY),0.011256,0.579202,2.409317,0.006584
186,(TOASTER PASTRIES),(FLUID MILK WHITE ONLY),0.011585,0.576496,2.398060,0.006754
202,(YOGURT MULTI-PACKS),(FLUID MILK WHITE ONLY),0.013406,0.576457,2.397898,0.007815
100,(MACARONI & CHEESE DNRS),(FLUID MILK WHITE ONLY),0.017079,0.573137,2.384089,0.009916
70,(FRUIT BOWL AND CUPS),(FLUID MILK WHITE ONLY),0.011687,0.572745,2.382457,0.006781
62,(EGGS - LARGE),(FLUID MILK WHITE ONLY),0.029643,0.571936,2.379092,0.017183
128,(PASTA: CANNED),(FLUID MILK WHITE ONLY),0.013081,0.569771,2.370089,0.007562
129,(PEANUT BUTTER),(FLUID MILK WHITE ONLY),0.014452,0.567082,2.358900,0.008325
394,"(SFT DRNK 2 LITER BTL CARB INCL, MAINSTREAM WH...",(FLUID MILK WHITE ONLY),0.010065,0.559791,2.328573,0.005743
51,(CORN),(FLUID MILK WHITE ONLY),0.013359,0.555809,2.312009,0.007581
153,(REFRIGERATED BISCUITS REGULAR),(FLUID MILK WHITE ONLY),0.012317,0.554967,2.308508,0.006982

- ìœ„ ê²°ê³¼ë¥¼ ì§€ì§€ë„, ì‹ ë¢°ë„, í–¥ìƒë„ ê°’ì„ ë°”íƒ•ìœ¼ë¡œ í•´ì„í•´ì£¼ì„¸ìš”! (ë‘ ê°€ì§€ ì´ìƒ)

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">  
<strong> ğŸ¤“ [ ì˜ˆì‹œ ] 'FLUID MILK WHITE ONLY'(ìš°ìœ )ëŠ” ë‹¤ì–‘í•œ í’ˆëª©ê³¼ ë†’ì€ ê²°í•© êµ¬ë§¤ íŒ¨í„´ì„ ë³´ì´ë©°, 30ê°œ ì´ìƒì˜ ì œí’ˆê³¼ lift 2 ì´ìƒìœ¼ë¡œ ê°•í•œ ì—°ê´€ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. <br> íŠ¹íˆ ì‹œë¦¬ì–¼ ê³„ì—´ì¸ 'ALL FAMILY CEREAL', 'KIDS CEREAL', 'ADULT CEREAL'ì€ ê°ê° 65% ì´ìƒì˜ ì‹ ë¢°ë„ì™€ 2.6~2.7ì˜ liftë¥¼ ê¸°ë¡í•´ ëˆˆì— ë„ëŠ” ê²°í•© ì†Œë¹„ê°€ í™•ì¸ëœë‹¤. <br> ì „ë°˜ì ìœ¼ë¡œ ìš°ìœ ëŠ” ì‹œë¦¬ì–¼, ê³¼ì¼, ë² ì´ì»¤ë¦¬, ì•„ì¹¨ ì‹ì‚¬ë¥˜ ì œí’ˆë“¤ê³¼ ìì£¼ í•¨ê»˜ êµ¬ë§¤ë˜ë©°, ì´ëŠ” ì†Œë¹„ìì˜ ì‹ì‚¬ ì¤€ë¹„ ë§¥ë½ê³¼ ë°€ì ‘í•˜ê²Œ ì—°ê²°ëœ êµ¬ë§¤ ê²½í–¥ì„ ë³´ì—¬ì¤€ë‹¤. <strong>  
</span>

- í•´ì„ 1: ìš°ìœ ëŠ” ì‹ë¹µ, ê³„ë€, í† ìŠ¤íŠ¸, ë°”ë‚˜ë‚˜ ë“± ì•„ì¹¨ ë˜ëŠ” ë¸ŒëŸ°ì¹˜ë¡œ ì£¼ë¡œ ì†Œë¹„ë˜ëŠ” ì‹ì¬ë£Œì™€ ë†’ì€ ê²°í•© êµ¬ë§¤ íŒ¨í„´ì„ ë³´ì¸ë‹¤.

- í•´ì„ 2: ìš°ìœ ëŠ” ë‹¤ì–‘í•œ í’ˆëª©ê³¼ ë†’ì€ í–¥ìƒë„ë¥¼ ë³´ì´ë©°, ì£¼ë¡œ ê°„í¸í•˜ê²Œ ë¨¹ì„ ìˆ˜ ìˆëŠ” ìƒí’ˆê³¼ í•¨ê»˜ ê²°í•©í•œë‹¤

## **5ï¸âƒ£ ì—°ê´€ ë¶„ì„ - ë¹„ì¦ˆë‹ˆìŠ¤ ì „ëµ ìˆ˜ë¦½**

- ìœ„ ê²°ê³¼í•´ì„ì— ë”°ë¼ ë¹„ì¦ˆë‹ˆìŠ¤ ì „ëµì„ ìˆ˜ë¦½í•´ì£¼ì„¸ìš”! (2ê°€ì§€ ì´ìƒ) -> ëƒ…ë‹¤ GPTë§Œ íŒ¨ì„œ ì“°ì§€ ë§ì•„ì£¼ì„¸ìš” . . .. .

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">  
<strong> ğŸ¤“ [ ì˜ˆì‹œ ] ìš°ìœ ì™€ í•¨ê»˜í•˜ëŠ” ì‹íƒ íë ˆì´ì…˜ ì¡´ êµ¬ì„± <strong>  
</span>

**ğŸ¯ ëª©ì **

* ìš°ìœ ì™€ ìì£¼ í•¨ê»˜ êµ¬ë§¤ë˜ëŠ” ìƒí’ˆì„ ëª¨ì•„ **ì§ê´€ì ì¸ êµ¬ë§¤ ìœ ë„**
* **ê°ë‹¨ê°€ ìƒìŠ¹**, **í¸ë¦¬í•œ ì‡¼í•‘ ê²½í—˜ ì œê³µ**

**ğŸ›’ êµ¬ì„± í’ˆëª©**

* **ì‹œë¦¬ì–¼ë¥˜**: KIDS / ALL FAMILY / ADULT CEREAL
* **ë² ì´ì»¤ë¦¬**: ì‹ë¹µ, ë¹„ìŠ¤í‚·, í† ìŠ¤í„° í˜ì´ìŠ¤íŠ¸ë¦¬
* **ê³¼ì¼ë¥˜**: ë°”ë‚˜ë‚˜, ì»µê³¼ì¼
* **ìœ ì œí’ˆ/ê°„í¸ì‹**: ìš”ê±°íŠ¸, ë‹¬ê±€, ë§ˆì¹´ë¡œë‹ˆ ë“±

**ğŸ“ ìš´ì˜ ë°©ë²•**

* ìš°ìœ  ëƒ‰ì¥ê³  ì¸ê·¼ì— **"ìš°ìœ ì™€ ìµœê³ ì˜ ê¶í•©!"** í…Œë§ˆì¡´ ì„¤ì¹˜
* POP/QRì½”ë“œë¡œ **ì¶”ì²œ ì‹ë‹¨**ì´ë‚˜ **í• ì¸ ì¿ í°** ì œê³µ
* ê³„ì ˆë³„ í…Œë§ˆ êµ¬ì„± (ì˜ˆ: ì—¬ë¦„=ëƒ‰ê³¼ì¼, ê²¨ìš¸=ì˜¤íŠ¸ë°€)

**ğŸ“ˆ ê¸°ëŒ€ íš¨ê³¼**

* ìš°ìœ  ê²°í•© êµ¬ë§¤ìœ¨ ìƒìŠ¹
* ì—°ê´€ ì œí’ˆ ë§¤ì¶œ ì¦ê°€
* â€˜ê³ ë¯¼ ì—†ëŠ” ì¡°í•©â€™ìœ¼ë¡œ **ê³ ê° ë§Œì¡±ë„ í–¥ìƒ**

- ì „ëµ 1:
ìš°ìœ ë¼ëŠ” í’ˆëª©ì˜ íŠ¹ì„±ìƒ ì†Œë¹„ê¸°í•œì´ ê·¸ë¦¬ ê¸¸ì§€ ì•Šë‹¤, ë˜í•œ ì•„ì¹¨ ì‹ì‚¬ë¡œ ì£¼ë¡œ ì‚¬ìš©ë˜ëŠ” í’ˆëª©ê³¼ ê²°í•©ì†Œë¹„ë¥¼ í•˜ëŠ” ê²½ìš°ê°€ ë¬´ì²™ ë§ìœ¼ë¯€ë¡œ, ì´ ì ì„ í™œìš©í•˜ê³ ì í•œë‹¤

ë§¤ì¼ ì €ë…ë§ˆë‹¤, ìš°ìœ ì™€ í•¨ê»˜ ë‹¤ìŒ ë‚  ì•„ì¹¨ì‹ì‚¬ë¡œ ì“¸ ê±° ê°™ì€ í’ˆëª©ë“¤ì„ í•¨ê»˜ êµ¬ë§¤í•˜ë©´ í• ì¸í•˜ëŠ” í”„ë¡œëª¨ì…˜ì„ ì§„í–‰í•œë‹¤

ë°”ìœ í•˜ë£¨ë¥¼ ì‚´ ê°€ì¡±ì—ê²Œ ì¤„ ì•„ì¹¨ì„ ì¤€ë¹„í•˜ì„¸ìš”! ì´ëŸ° ëŠë‚Œìœ¼ë¡œë‹¤ê°€ ì €ë…ì— í• ì¸ í”„ë¡œëª¨ì…˜ì„ ì§„í–‰í•˜ëŠ” ê²ƒì´ë‹¤

ì™œëƒë©´ ì•„ì¹¨ì— ë¨¹ëŠ” ìŒì‹ì´ê¸´ í•´ë„, ì•„ì¹¨ì— ë§ˆíŠ¸ì— ì™€ì„œ êµ¬ë§¤í•˜ê³  ì°¨ë¦¬ê¸°ê¹Œì§€ëŠ” ì‹œê°„ì´ ë¶€ì¡±í• í…Œë‹ˆ ë§ì´ë‹¤.

ìœ í†µê¸°í•œì´ ì§§ì€ ìš°ìœ ì˜ ì¬ê³ ë¥¼ ì¤„ì´ëŠ” ë°©ë²•ìœ¼ë¡œë„ ì“¸ ìˆ˜ ìˆì„ ê²ƒ ê°™ë‹¤

- ì „ëµ 2:
ì¿ íŒ¡ ë¡œì¼“ë°°ì†¡ì²˜ëŸ¼ ì•„ì¹¨ë§ˆë‹¤ ìš°ìœ ì™€ í•¨ê»˜ ë¨¹ì„ ì•„ì¹¨ ì‹ì‚¬ë¥¼ ë°°ë‹¬í•´ì£¼ëŠ” ì¼ì¢…ì˜ êµ¬ë… ì„œë¹„ìŠ¤ë¥¼ ë§Œë“ ë‹¤

ì „ë¬¸ íë ˆì´í„°ì™€ ì˜ì–‘ì‚¬ê°€ ë¶™ì–´ì„œ ì§  ìš°ë¦¬ ê°€ì¡± ì•„ì¹¨ ê±´ê°•ì‹! ì´ëŸ° ìŠ¬ë¡œê±´ìœ¼ë¡œë‹¤ê°€

ìš°ìœ í™” ê³„ë€, í† ìŠ¤íŠ¸, ì‹œë¦¬ì–¼, ë°”ë‚˜ë‚˜ ë“±ë“±ì„ ìš”ì¼ë³„ë¡œ í•´ì„œ ë‹¤ì±„ë¡­ê²Œ êµ¬ì„±í•˜ì—¬

ê³ ê°ë“¤ì—ê²Œ ë°œì†¡í•˜ëŠ” ì„œë¹„ìŠ¤ë¥¼ ê³ ì•ˆí•œë‹¤

# **ğŸ¤“ ê¸°ê°€ ë§‰íŒ ì „ëµì„ ì œì‹œí•˜ëŠ” ë¶„ê»˜ëŠ” í–‰ìš´ì´ ì°¾ì•„ì˜µë‹ˆë‹¤~ğŸ€**