# ğŸ›’ **ì—°ê´€ ë¶„ì„ (Association Rule Analysis) ê³¼ì œ**

### <span style="color:black; background-color:#F5F5F5;"> **Q1. ì—°ê´€ ê·œì¹™ {ìš°ìœ } â†’ {ì¿ í‚¤}ê°€ ë„ì¶œë˜ì—ˆì„ ë•Œ, ë‹¤ìŒ ìš©ì–´ë“¤ì´ ê°ê° ë¬´ì—‡ì„ ì˜ë¯¸í•˜ëŠ”ì§€ ì„¤ëª…í•˜ì‹œì˜¤.**
#### <span style="color:black; background-color:#F5F5F5;">**â‘  ì§€ì§€ë„(support) â‘¡ ì‹ ë¢°ë„(confidence) â‘¢ í–¥ìƒë„(lift)** </span>

ë‹µ: <br>
1. **ì§€ì§€ë„(support)**: ì „ì²´ ê±°ë˜ í•­ëª© ì¤‘, ìš°ìœ  í’ˆëª©ê³¼ ì¿ í‚¤ í’ˆëª©ì„ ë™ì‹œì— í¬í•¨í•˜ëŠ” ê±°ë˜ì˜ ë¹„ìœ¨ (ì—„ë°€í•˜ê²ŒëŠ”, ì „ì²´ ê±°ë˜ í•­ëª© ì¤‘ ìš°ìœ ê°€ êµ¬ë§¤ë˜ëŠ” ê±°ë˜ì˜ ë¹„ìœ¨)
2. **ì‹ ë¢°ë„(confidence)**: ìš°ìœ  í’ˆëª©ì„ í¬í•¨í•˜ëŠ” ê±°ë˜ ìˆ˜ ì¤‘, ìš°ìœ  í’ˆëª©ê³¼ ì¿ í‚¤ í’ˆëª©ì„ ë™ì‹œì— í¬í•¨í•˜ê³  ìˆëŠ” ê±°ë˜ì˜ ë¹„ìœ¨
3. **í–¥ìƒë„(fit)**: ì „ì²´ ê±°ë˜ í•­ëª© ì¤‘, ì¿ í‚¤ í’ˆëª©ì„ í¬í•¨í•˜ëŠ” ê±°ë˜ì˜ ë¹„ìœ¨ ëŒ€ë¹„, ìš°ìœ  í’ˆëª©ì„ í¬í•¨í•˜ëŠ” ê±°ë˜ ì¤‘ ìš°ìœ  í’ˆëª©ê³¼ ì¿ í‚¤ í’ˆëª©ì„ ë™ì‹œì— í¬í•¨í•˜ê³  ìˆëŠ” ê±°ë˜ ë¹„ìœ¨ì˜ ë¹„ìœ¨

### <span style="color:black; background-color:#F5F5F5;"> **Q2. Apriori ì•Œê³ ë¦¬ì¦˜ì´ ì²˜ë¦¬í•´ì•¼ í•  í›„ë³´ í•­ëª© ìˆ˜ê°€ ê¸°í•˜ê¸‰ìˆ˜ì ìœ¼ë¡œ ì¦ê°€í•˜ëŠ” ì´ìœ ì™€, FP-Growthê°€ ì´ë¥¼ ì–´ë–»ê²Œ í•´ê²°í•˜ëŠ”ì§€ ì„¤ëª…í•˜ì‹œì˜¤.**

ë‹µ:
Apriori ì•Œê³ ë¦¬ì¦˜ì€ ìµœì†Œ ì§€ì§€ë„ ì„ê³—ê°’ ì´ìƒì„ ê°–ëŠ” ì§‘í•©ì¸ ë¹ˆë°œ í’ˆëª© ì§‘í•©ì„ ì¶”ì¶œí•¨ìœ¼ë¡œì¨ ëª¨ë“  í’ˆëª© ì§‘í•©ì— ëŒ€í•´ì„œê°€ ì•„ë‹ˆë¼ ì¼ë¶€ í’ˆëª© ì§‘í•©ì— ëŒ€í•´ì„œë§Œ ê³„ì‚°í•˜ì—¬ ë¶ˆí•„ìš”í•œ ê³„ì‚°ëŸ‰ì„ ì¤„ì´ëŠ” ì•Œê³ ë¦¬ì¦˜ì´ë‹¤. ê·¸ëŸ¼ì—ë„ ë¶ˆêµ¬í•˜ê³  ìƒí’ˆ ìˆ˜ê°€ ë§ì•„ì§ˆìˆ˜ë¡ ì–´ì©” ìˆ˜ ì—†ì´ ì²˜ë¦¬í•´ì•¼ í•  í›„ë³´ í’ˆëª© ìˆ˜ê°€ ê¸°í•˜ê¸‰ìˆ˜ì ìœ¼ë¡œ ì¦ê°€í•˜ê²Œ ëœë‹¤. í›„ë³´ í•­ëª© ì§‘í•©ì„ ê²€ì¦í•  ë•Œ ëª¨ë“  ê°€ëŠ¥í•œ ì¡°í•©ì„ ë‹¤ ìƒì„±í•´ì„œ ê²€ì¦í•˜ê¸° ë•Œë¬¸ì´ë‹¤.

FP-Growth(Frequent Pattern Growth) ì•Œê³ ë¦¬ì¦˜ì€ ë¹ˆë°œ í’ˆëª© ì§‘í•©ì„ íš¨ìœ¨ì ìœ¼ë¡œ ì°¾ì•„ë‚´ëŠ” ì•Œê³ ë¦¬ì¦˜ì´ë‹¤. (1) ëª¨ë“  ê±°ë˜ì—ì„œ ê° í’ˆëª©ë§ˆë‹¤ ì§€ì§€ë„ë¥¼ ê³„ì‚°í•˜ê³ , (2) ìµœì†Œ ì§€ì§€ë„ ì„ê³—ê°’ ì´ìƒì˜ ì•„ì´í…œë§Œ ì„ íƒí•˜ì—¬ ë¹ˆë„ ìˆœìœ¼ë¡œ ì •ë ¬í•˜ê³  FP-treeë¥¼ ìƒì„±í•œë‹¤. ì´ë ‡ê²Œ ë°ì´í„°ë¥¼ 2ë²ˆë§Œ ìŠ¤ìº”í•˜ë©´ ë˜ê¸° ë•Œë¬¸ì— Apriori ì•Œê³ ë¦¬ì¦˜ì— ë¹„í•´ íš¨ìœ¨ì ì¸ ê³„ì‚°ì´ ê°€ëŠ¥í•˜ë‹¤.

# <span style="color:black; background-color:#F5F5F5;"> ğŸ’¸ **ì—°ê´€ ë¶„ì„ì„ í™œìš©í•œ ì‰ë§ˆíŠ¸(Ing-Mart) ê³ ê° ì¥ë°”êµ¬ë‹ˆ íŒ¨í„´ ë¶„ì„ ë° ë¹„ì¦ˆë‹ˆìŠ¤ ì „ëµ ìˆ˜ë¦½** </span>

<strong>ì£½ì§€ë„ ì•Šê³  ë‹¤ì‹œ ëŒì•„ì˜¨ ì‰ë§ˆíŠ¸..! ğŸ¤£ğŸ«¥ğŸ˜«ğŸ™ƒ<br>
ì´ë²ˆ ì—°ê´€ ë¶„ì„ ì‹¬í™” ì„¸ì…˜ì˜ ê³¼ì œëŠ” ì‰ë§ˆíŠ¸ì˜ ê³ ê° ì¥ë°”êµ¬ë‹ˆ ë¶„ì„ê³¼ ì „ëµ ìˆ˜ë¦½ì…ë‹ˆë‹¤~ <strong>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ì§€ë‚œ ì‹¬í™” ì„¸ì…˜ì—ì„œ ë°°ìš´ ê°œë…ê³¼ ì‹¤ìŠµ ë‚´ìš©ì„ ë°”íƒ•ìœ¼ë¡œ ì•„ë˜ ë¹ˆì¹¸ì„ ì±„ì›Œì£¼ì‹œê³ , í•´ë‹¹ ì¥ë°”êµ¬ë‹ˆ ê²°ê³¼ë¥¼ ë¶„ì„í•˜ì—¬ ì´ì— ì í•©í•œ ì „ëµì„ ì œì‹œí•´ì£¼ì‹œë©´ ë©ë‹ˆë‹¤! <strong>
</span>

## **1ï¸âƒ£ ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸° ë° ì „ì²˜ë¦¬**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import fpgrowth
import warnings
warnings.simplefilter(action='ignore', category=DeprecationWarning)

In [2]:
# !pip install mlxtend

- ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°
  - 1ì°¨ ì¸ì‚¬ì´ì½˜ ë•Œ í™œìš©í•˜ì…¨ë˜ ë°ì´í„° ì›ë³¸ì„ í™œìš©í•´ì£¼ì‹œë©´ ë©ë‹ˆë‹¤!
  - ì•Œë§ê²Œ ê²½ë¡œ ì§€ì •í•´ì£¼ì„¸ìš”~

In [3]:
transaction_data = pd.read_csv('transaction_data.csv')
product = pd.read_csv('product.csv')

In [4]:
transaction_data.head()

,Household_ID,Basket_ID,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match)
0,1803,30780785930,1065887,338,252,1,8.99,1419,37,-1.00,0.0,0.0
1,2299,33768622588,1073244,446,456,1,1.00,2030,66,-1.59,0.0,0.0
2,158,30202616809,7025114,343,225,1,1.50,1246,33,-0.50,-1.0,0.0
3,2347,42076926172,1064299,438,695,1,2.50,1430,100,-2.89,0.0,0.0
4,1430,31625201009,1040197,31742,312,1,2.29,1423,45,0.00,0.0,0.0

### ğŸ“Œ `product` EDA ë° ì „ì²˜ë¦¬

In [5]:
product.isnull().sum()

Product_ID              0
Manufacturer            0
Brand                   0
Category                0
Subcategory             0
Product_type            0
Curr_Size_of_Product    0
dtype: int64

In [6]:
product.nunique()

Product_ID              92353
Manufacturer             6476
Brand                       2
Category                   44
Subcategory               308
Product_type             2383
Curr_Size_of_Product     4345
dtype: int64

In [7]:
print("Product_IDì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜:", len(product[product['Product_ID']==' ']))
print("Manufacturerì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜:", len(product[product['Manufacturer']==' ']))
print("Brandì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜:", len(product[product['Brand']==' ']))
print("Categoryì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜:", len(product[product['Category']==' ']))
print("Subcategoryì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜:", len(product[product['Subcategory']==' ']))
print("Product_typeì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜:", len(product[product['Product_type']==' ']))
print("Curr_Size_of_Productì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜:", len(product[product['Curr_Size_of_Product']==' ']))

Product_IDì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜: 0
Manufacturerì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜: 0
Brandì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜: 0
Categoryì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜: 15
Subcategoryì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜: 15
Product_typeì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜: 15
Curr_Size_of_Productì— ìˆëŠ” ' ' ë ˆì½”ë“œ ê°œìˆ˜: 30607

ğŸ’¡ `product.csv`ì— 'Category', 'Subcategory', 'Product_type', 'Curr_Size_of_Product'ì— ë¹ˆ ë¬¸ìì—´ì´ NaNìœ¼ë¡œ ì¡´ì¬í•˜ì§€ ì•Šê³  ' 'ë¡œ ì¡´ì¬í•˜ê¸° ë•Œë¬¸ì—, ' 'ë¥¼ ëª¨ë‘ NaNìœ¼ë¡œ ë°”ê¾¸ê² ìŠµë‹ˆë‹¤.

In [8]:
product.replace(' ', np.nan, inplace=True)

In [9]:
product.nunique()

Product_ID              92353
Manufacturer             6476
Brand                       2
Category                   43
Subcategory               307
Product_type             2382
Curr_Size_of_Product     4344
dtype: int64

In [10]:
product[product['Category'].isnull()]

,Product_ID,Manufacturer,Brand,Category,Subcategory,Product_type,Curr_Size_of_Product
7143,5993055,1,National,NaN,NaN,NaN,NaN
10228,5978657,1,National,NaN,NaN,NaN,NaN
20626,5978656,1,National,NaN,NaN,NaN,NaN
23971,5126107,1,National,NaN,NaN,NaN,NaN
30653,5977100,1,National,NaN,NaN,NaN,NaN
37714,5978659,1,National,NaN,NaN,NaN,NaN
53934,6693056,1,National,NaN,NaN,NaN,NaN
54150,5126106,1,National,NaN,NaN,NaN,NaN
60239,5993054,1,National,NaN,NaN,NaN,NaN
79177,5126087,1,National,NaN,NaN,NaN,NaN
83189,5978649,1,National,NaN,NaN,NaN,NaN
83393,5978650,1,National,NaN,NaN,NaN,NaN
86632,5126088,1,National,NaN,NaN,NaN,NaN
89363,5978648,1,National,NaN,NaN,NaN,NaN
89459,5993051,1,National,NaN,NaN,NaN,NaN

Categoryê°€ NaNì¸ í’ˆëª©ì„ ë³´ë‹ˆ, <br>
Category, Subcategory, Product_type ì‹¬ì§€ì–´ Curr_Size_of_Productê¹Œì§€ ëª¨ë‘ ê²°ì¸¡ì¹˜ì…ë‹ˆë‹¤.
ëŒ€ì²´ ë¬´ìŠ¨ í’ˆëª©ì¼ê¹Œìš”... <br>
1ë²ˆ ì œì¡°ì‚¬ì— ë¬¸ì œê°€ ì¢€ ìˆì–´ ë³´ì´ë„¤ìš”. (ì°ì–´ë³¸ ê²°ê³¼, ì–´ì°¨í”¼ Quantity<0 ì´ë¼ì„œ ì§€ì›Œì§€ëŠ” ê°’ì„!)

product typeì´ ë„ˆë¬´ ë§ì•„ì„œ ìœ ì‚¬í•œ ë‹¨ì–´ëŠ” ì¢€ ë¬¶ê³  ì‹¶ì–´ìš”.. ê·¼ë° tf-idf ê¸°ë°˜ í…ìŠ¤íŠ¸ í´ëŸ¬ìŠ¤í„°ë§ (ì‹¤ë£¨ì—£ ê³„ìˆ˜ ë³´ê³ ..) ì–´ì©Œê³ ì €ì©Œê³  í•´ë´¤ëŠ”ë° ì¢€ ì• ë§¤í•œ ê²ƒ ê°™ì•„ì„œ ì•ˆ í•˜ê² ìŠµë‹ˆë‹¤..

In [90]:
product['Product_type'].value_counts()

Product_type
CARDS EVERYDAY                1005
BEERALEMALT LIQUORS            833
SPICES & SEASONINGS            629
GIFT-WRAP EVERYDAY             547
POTATO CHIPS                   531
                              ...
SPLINTS/DOSAGE/ACCESSORIES       1
GROWER/HANGING PLANTERS          1
SMOKE DETECTORS                  1
FTD SERVICE CHARGES              1
LADIES CASUAL/BOOT SOCK          1
Name: count, Length: 2382, dtype: int64

product typeì˜ í…ìŠ¤íŠ¸ë¥¼ ì¢€ ì „ì²˜ë¦¬í•´ë³´ê² ìŠµë‹ˆë‹¤

In [133]:
def clean_product_type(text):
    if pd.isnull(text):
        return text
    
    # 1. (ê´„í˜¸ í¬í•¨ ì´í›„ ë¬¸ìì—´ ì œê±°)
    text = re.sub(r'\(.*$', '', text)

    # 2. - ì¡°ê±´ë¶€ ì œê±°: ì•ì´ ë” ê¸¸ ë•Œë§Œ ìë¥´ê¸°
    if '-' in text:
        parts = text.split('-', 1)
        before, after = parts[0].strip(), parts[1].strip()
        if len(before) >= len(after):
            text = before  # ì•ìª½ë§Œ ë‚¨ê¹€

    # 1. ìˆ«ì-íŠ¹ìˆ˜ë¬¸ì-ìˆ«ì íŒ¨í„´ ì œê±° (12/18 â†’ 12 18 â†’ ì•„ì˜ˆ ì—†ì• ê¸°)
    text = re.sub(r'\d+[^\w\s]*\d+', '', text)

    # 2. ë‚¨ì€ ìˆ«ì ì „ì²´ ì œê±° (10, 500 ì´ëŸ° ê²ƒë“¤)
    text = re.sub(r'\d+', '', text)

    # 4. ì˜ë¯¸ ì—†ëŠ” ë‹¨ìœ„ ì œê±°
    meaningless_units = r'\b(pk|ct|can|btl|oz|ml|l|lb|g|pcs|count|each|pack|case|car|pkts|pkg|large|x|small|everyday|)\b'
    text = re.sub(meaningless_units, '', text, flags=re.IGNORECASE)

    # 5. íŠ¹ìˆ˜ë¬¸ì ì²˜ë¦¬ (ìŠ¬ë˜ì‹œëŠ” ì‚´ë¦¬ê³  ë‚˜ë¨¸ì§€ ì œê±°)
    text = re.sub(r'[^A-Za-z0-9\s/]', ' ', text)
    


    # 6. ë‹¤ì¤‘ ê³µë°± ì •ë¦¬
    text = re.sub(r'\s+', ' ', text).strip()

    return text


# ì ìš©
product['Cleaned_Product_type'] = product['Product_type'].apply(clean_product_type)

# ê²°ê³¼ í™•ì¸
product[['Product_type', 'Cleaned_Product_type']].head(30)

                      Product_type            Cleaned_Product_type
0   SOFT DRINKS 12/18&15PK CAN CAR                     SOFT DRINKS
1   NON-CARB WATER FLVR - DRNK/MNR    NON CARB WATER FLVR DRNK/MNR
2              SPICES & SEASONINGS               SPICES SEASONINGS
3             SANDWICHES&HANDHELDS            SANDWICHES HANDHELDS
4                             CORN                            CORN
5                           MINUET                          MINUET
6           TURKEY BREAST BONELESS          TURKEY BREAST BONELESS
7           CANDY BOXED CHOCOLATES          CANDY BOXED CHOCOLATES
8              AUSTRALIAN/NZ WINES             AUSTRALIAN/NZ WINES
9             LIGHTING ACCESSORIES            LIGHTING ACCESSORIES
10                    BANDAGE/TAPE                    BANDAGE/TAPE
11                    OILS/VINEGAR                    OILS/VINEGAR
12                   POTATOES: DRY                    POTATOES DRY
13  DRY DOG FOOD PREMIUM (ALPO/PUR            DRY DOG FOOD PREMIUM
14            VITAMIN - INDIVIDUAL              VITAMIN INDIVIDUAL
15  FRZN SS PREMIUM ENTREES/DNRS/N  FRZN SS PREMIUM ENTREES/DNRS/N
16              GIFT-WRAP EVERYDAY                       GIFT WRAP
17           CHEESE:SPECIALTY BULK           CHEESE SPECIALTY BULK
18          MISC. COOKNG/BKNGWARES           MISC COOKNG/BKNGWARES
19                         GELATIN                         GELATIN
20    FRZN MULTI SERVE ENTREES ALL    FRZN MULTI SERVE ENTREES ALL
21               IWS SINGLE CHEESE               IWS SINGLE CHEESE
22                           SUGAR                           SUGAR
23                LOREAL COSMETICS                LOREAL COSMETICS
24                   RAWHIDE CHEWS                   RAWHIDE CHEWS
25    VARIETY BEANS - KIDNEY PINTO                   VARIETY BEANS
26           JHOOK - PERSONAL CARE             JHOOK PERSONAL CARE
27                CAKES: NOVELTIES                 CAKES NOVELTIES
28                         PREMIUM                         PREMIUM
29            TORTILLA/NACHO CHIPS            TORTILLA/NACHO CHIPS

In [134]:
product['Cleaned_Product_type'].nunique()

2257

ë‹¨ìœ„ë¥¼ ì •ê·œí™”ì‹œì¼œì„œ Quantityì™€ í•¨ê»˜ ë³¸ë‹¤ë©´ ì¢‹ì„ ê²ƒ ê°™ì•„ìš”

In [138]:
print(product['Curr_Size_of_Product'].unique())

['12 PK' '24 OZ' '1.58 OZ' ... 'P   8.5 OZ' '2CT/2.8CM' '940593 4OZ']

### ìƒí’ˆ ë‹¨ìœ„ í™˜ì‚° ê¸°ì¤€í‘œ (OZ ì¤‘ì‹¬ ê¸°ì¤€í™” - feat gpt) 
| ì› ë‹¨ìœ„     | ë‹¨ìœ„ ì˜ë¯¸                 | ê¸°ì¤€ ë‹¨ìœ„ | í™˜ì‚° ë¹„ìœ¨      | ë¹„ê³                   |
| -------- | --------------------- | ----- | ---------- | ------------------- |
| **OZ**   | ë¬´ê²Œ (ì˜¨ìŠ¤, ounce)        | OZ    | 1          | ê¸°ì¤€ ë‹¨ìœ„               |
| **LB**   | ë¬´ê²Œ (íŒŒìš´ë“œ, pound)       | OZ    | 16         | 1 LB = 16 OZ        |
| **G**    | ë¬´ê²Œ (ê·¸ë¨, gram)         | OZ    | 0.03527396 | 1 G = 0.03527396 OZ |
| **L**    | ë¶€í”¼ (ë¦¬í„°, liter)        | OZ    | 33.814     | 1 L = 33.814 OZ     |
| **PT**   | ë¶€í”¼ (íŒŒì¸íŠ¸, pint)        | OZ    | 16         | 1 PT = 16 OZ        |
| **QT**   | ë¶€í”¼ (ì¿¼íŠ¸, quart)        | OZ    | 32         | 1 QT = 32 OZ        |
| **GAL**  | ë¶€í”¼ (ê°¤ëŸ°, gallon)       | OZ    | 128        | 1 GAL = 128 OZ      |
| **PK**   | ê°œìˆ˜ (pack, ë¬¶ìŒ ë‹¨ìœ„)      | PK    | -          | ê°œìˆ˜ ê°œë…, í™˜ì‚° ì—†ìŒ        |
| **CT**   | ê°œìˆ˜ (count, ê°œë³„ ìˆ˜ëŸ‰)     | CT    | -          | ê°œìˆ˜ ê°œë…, í™˜ì‚° ì—†ìŒ        |
| **IN**   | ê¸¸ì´ (ì¸ì¹˜, inch)         | IN    | 1          | ê¸¸ì´ ë‹¨ìœ„, ë¬´ê²Œì™€ ë¬´ê´€       |
| **CM**   | ê¸¸ì´ (ì„¼í‹°ë¯¸í„°, centimeter) | IN    | 0.393701   | 1 CM = 0.393701 IN  |
| **FT**   | ê¸¸ì´ (í”¼íŠ¸, feet)         | IN    | 12         | 1 FT = 12 IN        |
| **SIZE** | ê·œê²© (Small, Medium ë“±)  | SIZE  | -          | ê·œê²©/ì˜µì…˜ ê°’             |

In [139]:
import pandas as pd
import re

# ë‹¨ìœ„ í‘œì¤€í™” (normalize_unit)
def normalize_unit(unit):
    if not isinstance(unit, str):
        return 'UNKNOWN'

    unit = unit.upper()

    synonyms = {
        'OZ': ['OUNCE', 'OZS', 'OUNCES', 'OZASST'],
        'LB': ['LBS', 'POUND'],
        'L': ['LTR', 'LITER', 'LITRE', 'LITERS', 'MLTR', 'LTRS'],
        'PK': ['PKT', 'PKTS', 'PKG', 'PKGS', 'PCK'],
        'CT': ['COUNT', 'PIECE', 'PIECES', 'EACH', 'EA'],
        'GAL': ['GALON', 'GALLON'],
        'PT': ['PINT', 'PTS'],
        'QT': ['QUART'],
        'G': ['GM', 'GRAM', 'GRAMS', 'GMT'],
        'IN': ['INCH', 'INCHES', 'INX'],
        'FT': ['FEET', 'FOOT', 'FTX'],
        'SIZE': ['SMALL', 'MEDIUM', 'LARGE', 'XLG', 'XL', 'LRG', 'MED', 'SML', 'ONESIZE'],
    }

    meaningless = ['HELLO', 'GOING', 'OVER', 'ASSTD', 'ABCD', 'SPD', 'SCAN', 'ABD']
    if unit in meaningless:
        return 'UNKNOWN'

    for norm, variants in synonyms.items():
        if unit in variants or unit == norm:
            return norm

    return unit

# í™˜ì‚° ë¹„ìœ¨ í…Œì´ë¸”
conversion_rates = {
    ('CM', 'IN'): 0.393701,
    ('LB', 'OZ'): 16,
    ('G', 'OZ'): 0.03527396,
    ('L', 'OZ'): 33.814,
    ('QT', 'OZ'): 32,
    ('PT', 'OZ'): 16,
    ('GAL', 'OZ'): 128
}

# í™˜ì‚° í•¨ìˆ˜
def convert_unit(value, unit, target_units=('OZ', 'IN')):
    for target_unit in target_units:
        key = (unit, target_unit)
        if key in conversion_rates:
            return value * conversion_rates[key], target_unit
    return value, unit

# ë³µí•©ë‹¨ìœ„ í¬í•¨ íŒŒì‹± í•¨ìˆ˜ (ë¦¬ìŠ¤íŠ¸í˜• ë°˜í™˜)
def parse_all_units(size_str):
    if pd.isnull(size_str):
        return [], []

    parts = re.split(r'[/,]', size_str)
    values = []
    units = []

    for part in parts:
        match = re.search(r'(\d+\.?\d*)\s*([A-Za-z]+)', part.strip())
        if match:
            value = float(match.group(1))
            unit = normalize_unit(match.group(2))
            value_converted, unit_converted = convert_unit(value, unit)
            values.append(round(value_converted, 4))
            units.append(unit_converted)

    return values, units

# ì ìš©
product[['Size_Values', 'Size_Units']] = product['Curr_Size_of_Product'].apply(
    lambda x: pd.Series(parse_all_units(x))
)

# ê²°ê³¼ ì¶œë ¥
product

,Product_ID,Manufacturer,Brand,Category,Subcategory,Product_type,Curr_Size_of_Product,Size_Values,Size_Units,Cleaned_Product_type
0,6534074,2224,National,GROCERY,SOFT DRINKS,SOFT DRINKS 12/18&15PK CAN CAR,12 PK,[12.0],[PK],SOFT DRINKS
1,1016702,1551,National,NUTRITION,WATER,NON-CARB WATER FLVR - DRNK/MNR,24 OZ,[24.0],[OZ],NON CARB WATER FLVR DRNK/MNR
2,8155397,1759,National,GROCERY,SPICES & EXTRACTS,SPICES & SEASONINGS,1.58 OZ,[1.58],[OZ],SPICES SEASONINGS
3,5791664,1071,National,GROCERY,FROZEN PIZZA,SANDWICHES&HANDHELDS,9 OZ,[9.0],[OZ],SANDWICHES HANDHELDS
4,891772,165,National,GROCERY,VEGETABLES - SHELF STABLE,CORN,15 OZ,[15.0],[OZ],CORN
...,...,...,...,...,...,...,...,...,...,...
92348,1335125,69,Private,GROCERY,BLEACH,LIQUID BLEACH,128 OZ,[128.0],[OZ],LIQUID BLEACH
92349,9527153,1364,National,COSMETICS,MAKEUP AND TREATMENT,COVERGIRL,NaN,[],[],COVERGIRL
92350,1765274,317,National,GROCERY,SALD DRSNG/SNDWCH SPRD,SEMI-SOLID SALAD DRESSING MAY,18 OZ,[18.0],[OZ],SEMI SOLID SALAD DRESSING MAY
92351,924889,1761,National,GROCERY,DRY BN/VEG/POTATO/RICE,RICE SIDE DISH MIXES DRY,5.9 OZ,[5.9],[OZ],RICE SIDE DISH MIXES DRY
92352,1835809,638,National,GROCERY,FROZEN PIE/DESSERTS,FROZEN FRUIT PIES & COBBLERS,37 OZ,[37.0],[OZ],FROZEN FRUIT PIES COBBLERS

### ğŸ“Œ transaction ë°ì´í„° EDA

In [98]:
transaction_data.groupby(['Household_ID', 'Day', 'Store_ID']).value_counts()

Household_ID  Day  Store_ID  Basket_ID    Product_ID  Quantity  Sales_Value  Trans_time  Week_no  Disc(retail)  Disc(coupon)  Disc(coupon_match)  z_score
1             51   436       27601281299  825123      1         3.99         1456        8         0.00          0.0          0.0                 0.086202    1
                                          831447      1         2.99         1456        8         0.00          0.0          0.0                 0.086202    1
                                          840361      1         1.09         1456        8        -0.30          0.0          0.0                 0.086202    1
                                          845307      1         3.71         1456        8        -0.62          0.0          0.0                 0.086202    1
                                          852014      1         2.79         1456        8        -1.20          0.0          0.0                 0.086202    1
                                                                                                                                                             ..
2500          708  447       42250641157  1109947     1         3.19         1620        102      -0.80          0.0          0.0                 0.086202    1
                                          1117514     1         1.99         1620        102       0.00          0.0          0.0                 0.086202    1
                                          8019186     1         2.59         1620        102      -1.00          0.0          0.0                 0.086202    1
                                          15596705    1         2.77         1620        102      -3.02         -1.0          0.0                 0.086202    1
                                          16807289    1         1.50         1620        102      -1.49          0.0          0.0                 0.086202    1
Name: count, Length: 2595732, dtype: int64

In [99]:
# 1. Household_ID, Day, Store_ID, Product_IDë³„ Basket_ID ìœ ë‹ˆí¬ ê°œìˆ˜ ì„¸ê¸°
basket_counts = transaction_data.groupby(['Household_ID', 'Day', 'Store_ID', 'Product_ID'])['Basket_ID'].nunique()

# 2. Basket_IDê°€ 2ê°œ ì´ìƒì¸ ê·¸ë£¹ í•„í„°ë§
basket_counts_filtered = basket_counts[basket_counts >= 2].reset_index()

# 3. ì›ë³¸ ë°ì´í„°ì—ì„œ í•´ë‹¹ ê·¸ë£¹ë§Œ ì¶”ì¶œ
filtered_data = transaction_data.merge(
    basket_counts_filtered, 
    on=['Household_ID', 'Day', 'Store_ID', 'Product_ID'], 
    how='inner'
)

# 4. ê·¸ë£¹ë³„ë¡œ ë¬¶ì¸ ëŠë‚Œìœ¼ë¡œ ì •ë ¬ (Household_ID > Day > Store_ID > Product_ID ìˆœì„œë¡œ)
filtered_data_sorted = filtered_data.sort_values(
    by=['Household_ID', 'Day', 'Store_ID', 'Product_ID']
)

# 5. ê²°ê³¼ ì¶œë ¥
filtered_data_sorted

,Household_ID,Basket_ID_x,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score,Basket_ID_y
1306,1,33409625841,5978648,436,436,0,0.00,1227,63,0.00,0.0,0.0,0.087069,2
2556,1,33409625858,5978648,436,436,0,0.00,1232,63,0.00,0.0,0.0,0.087069,2
4840,5,29019192573,1073042,374,154,1,0.89,1855,23,-0.60,0.0,0.0,0.086202,2
12369,5,29019192576,1073042,374,154,1,0.89,1855,23,-0.60,0.0,0.0,0.086202,2
2224,5,33656876934,874972,374,449,1,7.73,1759,65,-1.29,0.0,0.0,0.086202,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13465,2500,33768100995,962950,447,455,1,1.00,1446,66,-1.59,0.0,0.0,0.086202,2
3531,2500,40510346200,875118,447,585,1,3.49,1352,84,0.00,0.0,0.0,0.086202,2
11776,2500,40510346202,875118,447,585,1,3.49,1353,84,0.00,0.0,0.0,0.086202,2
7890,2500,41453101036,6979474,447,649,1,1.00,1315,93,-0.19,0.0,0.0,0.086202,2
7916,2500,41453102660,6979474,447,649,1,1.00,1751,93,-0.19,0.0,0.0,0.086202,2

ê°™ì€ í’ˆëª©ì— ëŒ€í•´ ê°™ì€ ê°€êµ¬ê°€ ê°™ì€ ë‚ ì§œ, ë¹„ìŠ·í•œ ì‹œê°„ì— ê±°ë˜í•œ ë°ì´í„°ê°€ ê½¤ ë§ì´ ë³´ì…ë‹ˆë‹¤. ì˜ëª»ëœ ë°ì´í„°ëŠ” ì•„ë‹ê¹Œ? ì˜ì‹¬ì´ ë§ˆêµ¬ë§ˆêµ¬ ë“­ë‹ˆë‹¤.

In [100]:
filtered_data_sorted[filtered_data_sorted['Disc(retail)']>0]

,Household_ID,Basket_ID_x,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score,Basket_ID_y
2585,44,33769749631,12385844,412,458,0,0.000000e+00,2120,66,1.387779e-17,0.0,0.0,0.087069,2
3198,716,34837205710,874025,296,506,0,0.000000e+00,1354,73,2.220446e-16,0.0,0.0,0.087069,2
3918,2413,40727407101,980823,374,602,0,0.000000e+00,1735,87,1.110223e-16,0.0,0.0,0.087069,2
7937,2491,32478901200,13945244,389,370,0,4.440892e-16,1315,54,1.110223e-16,0.0,0.0,0.087069,2

ê°™ì€ ê±°ë˜ì¸ ê²ƒìœ¼ë¡œ ì¶”ì •ì´ ë˜ëŠ”ë° ê±°ë˜ê°€ 2ë²ˆ ì´ìƒ ì°íŒ ê²½ìš°ë¥¼ í•„í„°ë§ í–ˆì„ ë•Œ,
Disc(retail)ì´ ì´ìƒì¹˜ì¸ (ì–‘ìˆ˜ì¸) ë ˆì½”ë“œë¥¼ ì‚´í´ë³¼ ìˆ˜ ìˆì—ˆìŠµë‹ˆë‹¤.

In [101]:
filtered_data_sorted[filtered_data_sorted['Household_ID']==44]

,Household_ID,Basket_ID_x,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score,Basket_ID_y
2585,44,33769749631,12385844,412,458,0,0.00,2120,66,1.387779e-17,0.0,0.0,0.087069,2
13835,44,33769749635,12385844,412,458,1,1.25,2120,66,-4.000000e-02,0.0,0.0,0.086202,2

In [102]:
filtered_data_sorted[filtered_data_sorted['Household_ID']==716]

,Household_ID,Basket_ID_x,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score,Basket_ID_y
3198,716,34837205710,874025,296,506,0,0.0,1354,73,2.220446e-16,0.0,0.0,0.087069,2
10859,716,34837205714,874025,296,506,12,3.0,1354,73,-8.880000e+00,0.0,0.0,0.076665,2

In [103]:
filtered_data_sorted[filtered_data_sorted['Household_ID']==2413]

,Household_ID,Basket_ID_x,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score,Basket_ID_y
3918,2413,40727407101,980823,374,602,0,0.00,1735,87,1.110223e-16,0.0,0.0,0.087069,2
5845,2413,40727407230,980823,374,602,1,3.34,1754,87,0.000000e+00,0.0,0.0,0.086202,2

In [104]:
filtered_data_sorted[filtered_data_sorted['Household_ID']==2491]

,Household_ID,Basket_ID_x,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score,Basket_ID_y
1211,2491,31770085381,1108168,389,321,1,2.090000e+00,1024,47,0.000000e+00,0.0,0.0,0.086202,2
5951,2491,31770085387,1108168,389,321,1,2.090000e+00,1025,47,0.000000e+00,0.0,0.0,0.086202,2
7937,2491,32478901200,13945244,389,370,0,4.440892e-16,1315,54,1.110223e-16,0.0,0.0,0.087069,2
8194,2491,32478901204,13945244,389,370,3,5.000000e+00,1316,54,-9.700000e-01,0.0,0.0,0.084468,2
969,2491,32630435758,866573,389,380,1,1.000000e+00,1141,55,-5.000000e-02,0.0,0.0,0.086202,2
2641,2491,32630435762,866573,389,380,1,1.000000e+00,1143,55,-5.000000e-02,0.0,0.0,0.086202,2
215,2491,32630435758,5978648,389,380,0,0.000000e+00,1141,55,0.000000e+00,0.0,0.0,0.087069,2
13856,2491,32630435762,5978648,389,380,0,0.000000e+00,1143,55,0.000000e+00,0.0,0.0,0.087069,2
7153,2491,33217993924,928036,389,424,0,0.000000e+00,1925,61,0.000000e+00,0.0,0.0,0.087069,2
12558,2491,33217993926,928036,389,424,1,1.000000e+00,1925,61,-6.900000e-01,0.0,0.0,0.086202,2

4ê°œ ê°€êµ¬ì˜ ê±°ë˜ë¥¼ ë³´ë‹ˆê¹Œ, í™•ì‹¤íˆ Disc(retail)ì´ ì–‘ìˆ˜ì¸ ê²ƒì€ ì´ìƒì¹˜ì¸ ê²ƒ ê°™ìŠµë‹ˆë‹¤. <br>
ì¼ë°˜í™”í•´ì„œ ... Disc(retail)ì´ ì–‘ìˆ˜ë¡œ ë‚˜íƒ€ë‚˜ëŠ” ê²½ìš°ëŠ” ë²„ë¦¬ëŠ” ê²ƒìœ¼ë¡œ ì²˜ë¦¬í•˜ê² ìŠµë‹ˆë‹¤. (2ì¡° ì°¸ê³ í–ˆì–´ìš”ã…ã… ë‹¤ë¥¸ Discì—ëŠ” ì–‘ìˆ˜ê°€ ì—†ë‹¤ê³  í•˜ë„¤ìš”)

- ì´ìƒì¹˜ ì²˜ë¦¬
  - ì˜ˆì‹œë¡œ ì œì‹œí•´ë“œë¦¬ì§€ë§Œ ì¶”ê°€ì ìœ¼ë¡œ í•„ìš”í•œ ë¶€ë¶„ì€ ì „ì²˜ë¦¬ ì²˜ë¦¬í•´ì£¼ì„¸ìš”!

In [105]:
# Quantity ì—´ì— ëŒ€í•´ Z-scoreë¥¼ ê³„ì‚°í•œ ë’¤, ì ˆëŒ“ê°’ì„ ì·¨í•´ ìƒˆë¡œìš´ ì—´ 'z_score'ì— ì €ì¥
transaction_data["z_score"] = np.abs(stats.zscore(transaction_data["Quantity"]))

# Z-scoreê°€ 3ì„ ì´ˆê³¼í•˜ëŠ” ì´ìƒì¹˜(ì¦‰, í‰ê· ì—ì„œ 3í‘œì¤€í¸ì°¨ ì´ìƒ ë²—ì–´ë‚œ ê°’)ë¥¼ ì¶”ì¶œ
outliers_zscore = transaction_data[transaction_data["z_score"] > 3]

- ê³ ê° - ìƒí’ˆ í–‰ë ¬ ìƒì„±

In [106]:
# ê³ ê°-ìƒí’ˆ pivot_table ìƒì„± (í–‰: ê³ ê°, ì—´: ìƒí’ˆ, ê°’: ì´ êµ¬ë§¤ê¸ˆì•¡)
user_item_matrix = transaction_data.pivot_table(
    index='Household_ID',     # ê°€êµ¬ ID ê¸°ì¤€
    columns='Product_ID',     # ìƒí’ˆ ID ê¸°ì¤€
    values='Sales_Value',     # êµ¬ë§¤ ê¸ˆì•¡
    aggfunc='sum',            # ìƒí’ˆë³„ ì´ êµ¬ë§¤ê¸ˆì•¡
    fill_value=0              # êµ¬ë§¤ ì´ë ¥ ì—†ìœ¼ë©´ 0
)
user_item_matrix

Product_ID,25671,26081,26093,26190,26355,26426,26540,26601,26636,26691,...,18273019,18273051,18273115,18273133,18292005,18293142,18293439,18293696,18294080,18316298
Household_ID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [107]:
# í–‰ë ¬ì˜ í¬ê¸° í™•ì¸ (ê³ ê° ìˆ˜ Ã— ìƒí’ˆ ìˆ˜)
user_item_matrix.shape

(2500, 92339)

- êµ¬ë§¤ê°€ ì ì€ ì‚¬ìš©ì/ìƒí’ˆ í•„í„°ë§

In [108]:
# í•„í„°ë§ ê¸°ì¤€ ì •ì˜
min_product_purchases = 10   # ìµœì†Œ 10ëª… ì´ìƒì´ êµ¬ë§¤í•œ ìƒí’ˆë§Œ ì‚¬ìš©
min_user_purchases = 2       # ìµœì†Œ 2ê°œ ì´ìƒ ìƒí’ˆ êµ¬ë§¤í•œ ì‚¬ìš©ìë§Œ ì‚¬ìš©

# ìƒí’ˆë³„ êµ¬ë§¤ëœ ê³ ê° ìˆ˜ ê³„ì‚°
product_purchase_count = (user_item_matrix > 0).sum()

# ê³ ê°ë³„ êµ¬ë§¤í•œ ìƒí’ˆ ìˆ˜ ê³„ì‚°
user_purchase_count = (user_item_matrix > 0).sum(axis=1)

# ê¸°ì¤€ì„ ë§Œì¡±í•˜ëŠ” ìƒí’ˆê³¼ ì‚¬ìš©ì í•„í„°ë§
filtered_products = product_purchase_count[product_purchase_count >= min_product_purchases].index
filtered_users = user_purchase_count[user_purchase_count >= min_user_purchases].index

# í•„í„°ë§ëœ í–‰ë ¬ ì¶”ì¶œ
filtered_matrix = user_item_matrix.loc[filtered_users, filtered_products]
print(f"\n2. Filtered Matrix Shape: {filtered_matrix.shape}")

2. Filtered Matrix Shape: (2500, 23326)

- ì´ìƒì¹˜ ë° ìŒìˆ˜ ì œê±°í•œ íŠ¸ëœì­ì…˜ ë°ì´í„° ìƒì„±

In [109]:
# Z-score ê¸°ì¤€ìœ¼ë¡œ ì´ìƒì¹˜ ì œê±° (Â±3 ì´ìƒ) + êµ¬ë§¤ ìˆ˜ëŸ‰ì´ ì–‘ìˆ˜ì¸ ë°ì´í„°ë§Œ ë‚¨ê¹€
# + retail í• ì¸ìœ¨ì´ ì–‘ìˆ˜ê°€ ì•„ë‹Œ ë°ì´í„°ë§Œ ë‚¨ê¹€
transaction_data_cleaned = transaction_data[
    (transaction_data['z_score'] < 3) & 
    (transaction_data['z_score'] > -3) & 
    (transaction_data['Quantity'] > 0) &
    (transaction_data['Disc(retail)'] <= 0)
]
print(transaction_data_cleaned.shape)

# ë°ì´í„° ìƒ˜í”Œ í™•ì¸
transaction_data_cleaned.head()

(2559315, 13)

,Household_ID,Basket_ID,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score
0,1803,30780785930,1065887,338,252,1,8.99,1419,37,-1.00,0.0,0.0,0.086202
1,2299,33768622588,1073244,446,456,1,1.00,2030,66,-1.59,0.0,0.0,0.086202
2,158,30202616809,7025114,343,225,1,1.50,1246,33,-0.50,-1.0,0.0,0.086202
3,2347,42076926172,1064299,438,695,1,2.50,1430,100,-2.89,0.0,0.0,0.086202
4,1430,31625201009,1040197,31742,312,1,2.29,1423,45,0.00,0.0,0.0,0.086202

- ì •ì œëœ ë°ì´í„°ë¡œ ë‹¤ì‹œ ì‚¬ìš©ì-ìƒí’ˆ í–‰ë ¬ ìƒì„± ë° í•„í„°ë§

In [110]:
# ë” ì •í™•í•œ ì—°ê´€ ê·œì¹™ ë„ì¶œì„ ìœ„í•´ ì´ìƒì¹˜ ì œê±° í›„ ì¬ìƒì„±
# ì •ì œëœ ë°ì´í„°ë¥¼ ê¸°ë°˜ìœ¼ë¡œ ì‚¬ìš©ì-ìƒí’ˆ ë§¤íŠ¸ë¦­ìŠ¤ ë‹¤ì‹œ ìƒì„±
user_item_matrix = transaction_data_cleaned.pivot_table(
    index='Household_ID',     # ê°€êµ¬ ID ê¸°ì¤€
    columns='Product_ID',     # ìƒí’ˆ ID ê¸°ì¤€
    values='Sales_Value',     # êµ¬ë§¤ ê¸ˆì•¡
    aggfunc='sum',            # ìƒí’ˆë³„ ì´ êµ¬ë§¤ê¸ˆì•¡
    fill_value=0              # êµ¬ë§¤ ì´ë ¥ ì—†ìœ¼ë©´ 0
)

# í•„í„°ë§ ê¸°ì¤€ ì¬ì‚¬ìš©
min_product_purchases = 10  
min_user_purchases = 2     

# ìƒí’ˆ/ì‚¬ìš©ìë³„ êµ¬ë§¤ íšŸìˆ˜ ê³„ì‚°
product_purchase_count = (user_item_matrix > 0).sum()
user_purchase_count = (user_item_matrix > 0).sum(axis=1)

# ì¡°ê±´ì— ë§ëŠ” ìƒí’ˆê³¼ ì‚¬ìš©ì í•„í„°
filtered_products = product_purchase_count[product_purchase_count >= min_product_purchases].index
filtered_users = user_purchase_count[user_purchase_count >= min_user_purchases].index

# ìµœì¢… í•„í„°ë§ëœ í–‰ë ¬ ìƒì„±
filtered_matrix = user_item_matrix.loc[filtered_users, filtered_products]
filtered_matrix

Product_ID,27658,34873,43020,43871,59666,138619,197681,201704,215923,244960,...,18005913,18005929,18022252,18055205,18055329,18105264,18106286,18119016,18147612,18203921
Household_ID,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.19,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2497,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2498,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

- ìƒí’ˆ ì •ë³´ ì¡°ì¸í•˜ì—¬ ì œí’ˆ íƒ€ì… ë‹¨ìœ„ë¡œ ë¶„ì„ ì¤€ë¹„

In [140]:
product_cleaned = product.drop(columns=['Product_type', 'Curr_Size_of_Product'])

In [141]:
# Product_IDì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° productì™€ inner joiní•˜ì—¬ Product_type ì •ë³´ ì¶”ê°€
merged_data = pd.merge(transaction_data_cleaned, product_cleaned, on='Product_ID', how='inner')
merged_data

,Household_ID,Basket_ID,Product_ID,Store_ID,Day,Quantity,Sales_Value,Trans_time,Week_no,Disc(retail),Disc(coupon),Disc(coupon_match),z_score,Manufacturer,Brand,Category,Subcategory,Size_Values,Size_Units,Cleaned_Product_type
0,1803,30780785930,1065887,338,252,1,8.99,1419,37,-1.00,0.0,0.0,0.086202,69,Private,DRUG GM,ANALGESICS,[],[],ADULT ANALGESICS
1,2299,33768622588,1073244,446,456,1,1.00,2030,66,-1.59,0.0,0.0,0.086202,2110,National,GROCERY,ICE CREAM/MILK/SHERBTS,[],[],PREMIUM PINTS
2,158,30202616809,7025114,343,225,1,1.50,1246,33,-0.50,-1.0,0.0,0.086202,1838,National,GROCERY,BAKED BREAD/BUNS/ROLLS,[20.0],[OZ],MAINSTREAM WHEAT/MULTIGRAIN BR
3,2347,42076926172,1064299,438,695,1,2.50,1430,100,-2.89,0.0,0.0,0.086202,2193,National,GROCERY,ICE CREAM/MILK/SHERBTS,[48.0],[OZ],PREMIUM
4,1430,31625201009,1040197,31742,312,1,2.29,1423,45,0.00,0.0,0.0,0.086202,869,National,GROCERY,TEAS,[20.0],[CT],TEA BAGS HERBAL FLAVORED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2559310,225,33655617762,6463742,31642,447,1,2.29,1942,65,-1.70,0.0,0.0,0.086202,69,Private,GROCERY,CHEESE,[16.0],[OZ],SHREDDED CHEESE
2559311,266,40097402794,968269,367,551,1,1.99,2255,79,0.00,0.0,0.0,0.086202,1091,National,GROCERY,HOUSEHOLD CLEANG NEEDS,[24.0],[OZ],TOILET BOWL MANUAL
2559312,2364,30443976140,2041688,673,230,2,1.50,1757,34,-0.62,0.0,0.0,0.085335,69,Private,GROCERY,MEAT - SHELF STABLE,[15.0],[OZ],CHILI CANNED
2559313,1048,31145396229,1082185,436,280,1,0.74,1445,41,0.00,0.0,0.0,0.086202,2,National,PRODUCE,TROPICAL FRUIT,[640.0],[OZ],BANANAS
2559314,2270,28318130093,1138858,445,111,1,2.69,808,17,-0.30,0.0,0.0,0.086202,151,National,GROCERY,FROZEN PIZZA,[12.5],[OZ],PIZZA/PREMIUM

- ì¥ë°”êµ¬ë‹ˆ(Basket_ID)ë³„ë¡œ êµ¬ë§¤í•œ ìƒí’ˆíƒ€ì… ëª©ë¡ ì •ë¦¬

In [144]:
# ê° ê±°ë˜(Basket_ID)ë§ˆë‹¤ êµ¬ë§¤í•œ ìƒí’ˆ ìœ í˜•(Subcategory)ì˜ ë¦¬ìŠ¤íŠ¸ ìƒì„±
transactions_subcategory = merged_data.groupby('Basket_ID')['Subcategory'].unique().reset_index()
transactions_subcategory

          Basket_ID                                        Subcategory
0       26984851472  [POTATOES, VEGETABLES - ALL OTHERS, ONIONS, OR...
1       26984851516  [BAKED BREAD/BUNS/ROLLS, COOKIES/CONES, PNT BT...
2       26984896261  [CONVENIENT BRKFST/WHLSM SNACKS, EGGS, BREAKFA...
3       26984905972                     [SOUP, BAKED BREAD/BUNS/ROLLS]
4       26984945254  [CANDY - PACKAGED, ELECTRICAL SUPPPLIES, CANDY...
...             ...                                                ...
254725  42302712006        [BAG SNACKS, SOFT DRINKS, CHEESE, HISPANIC]
254726  42302712189  [PAPER HOUSEWARES, MILK BY-PRODUCTS, FACIAL TI...
254727  42302712298  [BUTTER, HAIR CARE PRODUCTS, MUSHROOMS, MISC. ...
254728  42305362497  [CANDY - PACKAGED, SOFT DRINKS, FROZEN PIZZA, ...
254729  42305362535  [MISC WINE, DINNER MXS:DRY, PNT BTR/JELLY/JAMS...

[254730 rows x 2 columns]

In [145]:
# ê° ê±°ë˜(Basket_ID)ë§ˆë‹¤ êµ¬ë§¤í•œ ìƒí’ˆ ìœ í˜•(Product_type)ì˜ ë¦¬ìŠ¤íŠ¸ ìƒì„±
transactions = merged_data.groupby('Basket_ID')['Cleaned_Product_type'].unique().reset_index()
transactions

          Basket_ID                               Cleaned_Product_type
0       26984851472  [POTATOES RUSSET, CELERY, ONIONS SWEET, ORGANI...
1       26984851516  [HAMBURGER BUNS, TRAY /CHOC CHIP COOKIES, PEAN...
2       26984896261  [GRANOLA BARS, EGGS, LINKS, SNACK CRACKERS, GR...
3       26984905972  [RAMEN NOODLES/RAMEN CUPS, MAINSTREAM WHITE BR...
4       26984945254  [SEASONAL CANDY BOX NON, INSIDE FROST BULBS, C...
...             ...                                                ...
254725  42302712006  [TORTILLA/NACHO CHIPS, SFT DRNK LITER CARB INC...
254726  42302712189  [PLSTC CTLRYTBLCLTHSTTHPKSST, REFRIG DIPS, PAP...
254727  42302712298  [BUTTER, HAIR CONDITIONERS AND RINSES, SHAMPOO...
254728  42305362497  [SEASONAL MISCELLANEOUS, SFT DRNK LITER CARB I...
254729  42305362535  [BEERALEMALT LIQUORS, MACARONI CHEESE DNRS, PE...

[254730 rows x 2 columns]

- íŠ¸ëœì­ì…˜ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜

In [147]:
transaction_sub_list = transactions_subcategory['Subcategory'].tolist()
transaction_sub_list = [list(item) for item in transaction_sub_list]
print(transaction_sub_list[:5])

[['POTATOES', 'VEGETABLES - ALL OTHERS', 'ONIONS', 'ORGANICS FRUIT & VEGETABLES', 'TROPICAL FRUIT'], ['BAKED BREAD/BUNS/ROLLS', 'COOKIES/CONES', 'PNT BTR/JELLY/JAMS', 'BROOMS AND MOPS'], ['CONVENIENT BRKFST/WHLSM SNACKS', 'EGGS', 'BREAKFAST SAUSAGE/SANDWICHES', 'CRACKERS/MISC BKD FD', 'BEEF'], ['SOUP', 'BAKED BREAD/BUNS/ROLLS'], ['CANDY - PACKAGED', 'ELECTRICAL SUPPPLIES', 'CANDY - CHECKLANE']]

In [148]:
transaction_list = transactions['Cleaned_Product_type'].tolist()
transaction_list = [list(item) for item in transaction_list]
print(transaction_list[:5])

[['POTATOES RUSSET', 'CELERY', 'ONIONS SWEET', 'ORGANIC CARROTS', 'BANANAS'], ['HAMBURGER BUNS', 'TRAY /CHOC CHIP COOKIES', 'PEANUT BUTTER', 'SPONGES BATH HOUSEHOLD', 'GRAHAM CRACKERS'], ['GRANOLA BARS', 'EGGS', 'LINKS', 'SNACK CRACKERS', 'GRND/PATTY'], ['RAMEN NOODLES/RAMEN CUPS', 'MAINSTREAM WHITE BREAD'], ['SEASONAL CANDY BOX NON', 'INSIDE FROST BULBS', 'CHEWING GUM']]

- íŠ¸ëœì­ì…˜ í†µê³„

In [149]:
transactions_subcategory['num_subcategory'] = transactions_subcategory['Subcategory'].apply(len)
average_subcategory_per_order = transactions_subcategory['num_subcategory'].mean()
max_subcategory_per_order = transactions_subcategory['num_subcategory'].max()
min_subcategory_per_order = transactions_subcategory['num_subcategory'].min()

print(f"Average number of subcategories per order: {average_subcategory_per_order}")
print(f"Maximum number of subcategories per order: {max_subcategory_per_order}")
print(f"Minimum number of subcategories per order: {min_subcategory_per_order}")

Average number of subcategories per order: 7.391127860872296
Maximum number of subcategories per order: 85
Minimum number of subcategories per order: 1

In [150]:
transactions['num_products'] = transactions['Cleaned_Product_type'].apply(len)
average_products_per_order = transactions['num_products'].mean()
max_products_per_order = transactions['num_products'].max()
min_products_per_order = transactions['num_products'].min()

print(f"Average number of products per order: {average_products_per_order}")
print(f"Maximum number of products per order: {max_products_per_order}")
print(f"Minimum number of products per order: {min_products_per_order}")

Average number of products per order: 8.504436069563852
Maximum number of products per order: 127
Minimum number of products per order: 1

í .. ë§‰ ê·¸ë ‡ê²Œ ë‹¬ë¼ì§€ì§„ ì•Šì•˜ë„¤ìš”...ã… ã…

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ì§€ê¸ˆë¶€í„´ ì§€ë‚œ ì‹¤ìŠµ ë•Œ í–ˆë˜ ê³¼ì •ì˜ ë°˜ë³µ! <strong>
</span>

## **2ï¸âƒ£ ì—°ê´€ ë¶„ì„ - TransactionEncoderë¡œ ì´ì§„ í–‰ë ¬ë¡œ ë³€í™˜**

In [151]:
from mlxtend.preprocessing import TransactionEncoder

te_sub = TransactionEncoder()
te_ary_sub = te_sub.fit(transaction_sub_list).transform(transaction_sub_list)  # í•™ìŠµê³¼ ë³€í™˜ì„ ë”°ë¡œë”°ë¡œ!

df_encoded_sub = pd.DataFrame(te_ary_sub, columns=te_sub.columns_).astype(int)
df_encoded_sub.head()

,(CORP USE ONLY),ADULT INCONTINENCE,AIR CARE,ANALGESICS,ANTACIDS,APPAREL,APPLES,AUDIO/VIDEO PRODUCTS,AUTOMOTIVE PRODUCTS,BABY FOODS,...,VEAL,VEGETABLES - ALL OTHERS,VEGETABLES - SHELF STABLE,VEGETABLES SALAD,VITAMINS,WAREHOUSE SNACKS,WATCHES/CALCULATORS/LOBBY,WATER,WATER - CARBONATED/FLVRD DRINK,YOGURT
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [152]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transaction_list).transform(transaction_list)  # í•™ìŠµê³¼ ë³€í™˜ì„ ë”°ë¡œë”°ë¡œ!

df_encoded = pd.DataFrame(te_ary, columns=te.columns_).astype(int)
df_encoded.head()

,,/ BEVERAGE,ABRASIVES,ACCENT FURNITURE,ACCENT RUGS,ACCESS COLD WEATHER,ACCESS LADIES BELTS,ACCESS LADIES GLOVES,ACCESS UMBRELLAS,ACCESSORIES,...,WRITING INSTRUMENTS,XMAS PLUSH,YARDLEY,YEAST DRY,YELLOW JACKET,YELLOW SUMMER SQUASH,YNG MEN SCREEN PRINT T,YOGURT,YOGURT MULTI,YOGURT NOT MULTI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## **3ï¸âƒ£ ì—°ê´€ ë¶„ì„ - Apriori ì•Œê³ ë¦¬ì¦˜ í™œìš©**

- Apriori ì•Œê³ ë¦¬ì¦˜ìœ¼ë¡œ ë¹ˆë°œ í•­ëª© ì§‘í•© ë„ì¶œ (ì§€ì§€ë„ 0.05% ì´ìƒ)

In [153]:
from mlxtend.frequent_patterns import apriori

filtered_onehot_sub = df_encoded_sub.loc[:, df_encoded_sub.sum(axis=0) > 20]

# apriorië¡œ frequent_itemsets ì¶”ì¶œ (ìµœì†Œì§€ì§€ë„ëŠ” 0.005, use_colnames=True, low_memory=True)
frequent_itemsets_sub = apriori(filtered_onehot_sub, min_support=0.005, use_colnames=True, low_memory=True)
frequent_itemsets_sub.head()

    support      itemsets
0  0.014949    (AIR CARE)
1  0.016649  (ANALGESICS)
2  0.006874    (ANTACIDS)
3  0.051886      (APPLES)
4  0.016606  (BABY FOODS)

In [154]:
from mlxtend.frequent_patterns import apriori

filtered_onehot = df_encoded.loc[:, df_encoded.sum(axis=0) > 20]

# apriorië¡œ frequent_itemsets ì¶”ì¶œ (ìµœì†Œì§€ì§€ë„ëŠ” 0.005, use_colnames=True, low_memory=True)
frequent_itemsets = apriori(filtered_onehot, min_support=0.005, use_colnames=True, low_memory=True)
frequent_itemsets.head()

    support                      itemsets
0  0.011899            (ADULT ANALGESICS)
1  0.030020                (ADULT CEREAL)
2  0.007282                    (AIR CARE)
3  0.005374  (AIR CARE CONTINUOUS ACTION)
4  0.008024          (ALKALINE BATTERIES)

- `association_rules`ë¡œ ì—°ê´€ ê·œì¹™ ë„ì¶œ ë° í•„í„°ë§(ì‹ ë¢°ë„ 40% ì´ìƒ)

In [155]:
num_itemsets_sub = len(frequent_itemsets_sub)

# confidence ê¸°ì¤€ìœ¼ë¡œ ì—°ê´€ ê·œì¹™(rules)ì„ ì¶”ì¶œí•˜ì„¸ìš”.
# ì¡°ê±´: min_threshold=0.4, metric="***",num_itemsets = num_itemsets
rules_sub = association_rules(frequent_itemsets_sub, metric="confidence", min_threshold=0.4, num_itemsets = num_itemsets_sub)

rules_sub[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head()

  antecedents               consequents   support  confidence      lift
0  (AIR CARE)  (BAKED BREAD/BUNS/ROLLS)  0.006383    0.426996  1.804899
1  (AIR CARE)     (FLUID MILK PRODUCTS)  0.006603    0.441702  1.625841
2  (AIR CARE)             (SOFT DRINKS)  0.006340    0.424107  1.509977
3    (APPLES)  (BAKED BREAD/BUNS/ROLLS)  0.027527    0.530529  2.242531
4    (APPLES)                  (CHEESE)  0.022373    0.431187  2.344124

In [156]:
num_itemsets = len(frequent_itemsets)

# confidence ê¸°ì¤€ìœ¼ë¡œ ì—°ê´€ ê·œì¹™(rules)ì„ ì¶”ì¶œí•˜ì„¸ìš”.
# ì¡°ê±´: min_threshold=0.4, metric="***",num_itemsets = num_itemsets
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.4, num_itemsets = num_itemsets)

rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']].head()

,antecedents,consequents,support,confidence,lift
0,(ADULT CEREAL),(BANANAS),0.012119,0.403688,3.393439
1,(ADULT CEREAL),(FLUID MILK WHITE ONLY),0.019154,0.638028,2.650870
2,(ALL FAMILY CEREAL),(FLUID MILK WHITE ONLY),0.026137,0.649118,2.696946
3,(APPLE JUICE CIDER),(FLUID MILK WHITE ONLY),0.007639,0.574719,2.387837
4,(APPLES GALA),(BANANAS),0.006996,0.507837,4.268928

In [157]:
print(rules_sub.shape)

(49767, 14)

In [158]:
print(rules.shape)

(502, 14)

- ì—°ê´€ ë¶„ì„ìš© ë¦¬ìŠ¤íŠ¸ êµ¬ì¡° ì •ë¦¬

In [159]:
transaction_sub_list = [list(t) if isinstance(t, (list, np.ndarray)) else [t] for t in transaction_sub_list]
transaction_sub_list = [t.tolist() if isinstance(t, np.ndarray) else list(t) if isinstance(t, list) else [t] for t in transaction_sub_list]

In [160]:
transaction_list = [list(t) if isinstance(t, (list, np.ndarray)) else [t] for t in transaction_list]
transaction_list = [t.tolist() if isinstance(t, np.ndarray) else list(t) if isinstance(t, list) else [t] for t in transaction_list]

- ë¶ˆí•„ìš”í•œ ì§€í‘œ ì œê±°

In [161]:
apriori_sub = rules_sub.drop(columns=[
    "antecedent support", 
    "consequent support", 
    "representativity", 
    "conviction", 
    "zhangs_metric", 
    "jaccard", 
    "certainty", 
    "kulczynski"
])

In [162]:
apriori = rules.drop(columns=[
    "antecedent support", 
    "consequent support", 
    "representativity", 
    "conviction", 
    "zhangs_metric", 
    "jaccard", 
    "certainty", 
    "kulczynski"
])

- ìœ ì˜ë¯¸í•œ ê·œì¹™ í•„í„°ë§(í–¥ìƒë„ 1 ì´ìƒ)

In [163]:
apriori_sub = apriori_sub[apriori_sub['lift'] >= 1]

In [164]:
apriori = apriori[apriori['lift'] >= 1]

- ê²°ê³¼ í™•ì¸

In [165]:
apriori_sub

,antecedents,consequents,support,confidence,lift,leverage
0,(AIR CARE),(BAKED BREAD/BUNS/ROLLS),0.006383,0.426996,1.804899,0.002847
1,(AIR CARE),(FLUID MILK PRODUCTS),0.006603,0.441702,1.625841,0.002542
2,(AIR CARE),(SOFT DRINKS),0.006340,0.424107,1.509977,0.002141
3,(APPLES),(BAKED BREAD/BUNS/ROLLS),0.027527,0.530529,2.242531,0.015252
4,(APPLES),(CHEESE),0.022373,0.431187,2.344124,0.012829
...,...,...,...,...,...,...
49762,"(FLUID MILK PRODUCTS, SOUP, TROPICAL FRUIT, CH...","(VEGETABLES - SHELF STABLE, BAKED BREAD/BUNS/R...",0.005033,0.414753,8.896085,0.004467
49763,"(SOUP, BAKED BREAD/BUNS/ROLLS, TROPICAL FRUIT,...","(VEGETABLES - SHELF STABLE, FLUID MILK PRODUCTS)",0.005033,0.419503,8.916137,0.004468
49764,"(VEGETABLES - SHELF STABLE, FLUID MILK PRODUCT...","(SOUP, BAKED BREAD/BUNS/ROLLS)",0.005033,0.419091,8.615536,0.004449
49765,"(VEGETABLES - SHELF STABLE, BAKED BREAD/BUNS/R...","(FLUID MILK PRODUCTS, SOUP)",0.005033,0.427333,8.744748,0.004457
49766,"(VEGETABLES - SHELF STABLE, SOUP, TROPICAL FRUIT)","(FLUID MILK PRODUCTS, BAKED BREAD/BUNS/ROLLS, ...",0.005033,0.421295,7.050087,0.004319

In [166]:
apriori

,antecedents,consequents,support,confidence,lift,leverage
0,(ADULT CEREAL),(BANANAS),0.012119,0.403688,3.393439,0.008547
1,(ADULT CEREAL),(FLUID MILK WHITE ONLY),0.019154,0.638028,2.650870,0.011928
2,(ALL FAMILY CEREAL),(FLUID MILK WHITE ONLY),0.026137,0.649118,2.696946,0.016446
3,(APPLE JUICE CIDER),(FLUID MILK WHITE ONLY),0.007639,0.574719,2.387837,0.004440
4,(APPLES GALA),(BANANAS),0.006996,0.507837,4.268928,0.005357
...,...,...,...,...,...,...
497,"(EGGS, BANANAS, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.005853,0.777778,3.231501,0.004042
498,"(EGGS, FLUID MILK WHITE ONLY, SHREDDED CHEESE)",(BANANAS),0.005853,0.416248,3.499021,0.004180
499,"(BANANAS, FLUID MILK WHITE ONLY, SHREDDED CHEESE)",(EGGS),0.005853,0.417413,4.627167,0.004588
500,"(SOFT DRINKS, MAINSTREAM WHITE BREAD, BANANAS)",(FLUID MILK WHITE ONLY),0.005013,0.721877,2.999244,0.003342
501,"(MAINSTREAM WHITE BREAD, EGGS, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.005162,0.775354,3.221430,0.003560

## **[ ì°¸ê³  ] ì—°ê´€ ë¶„ì„ - FP-Growth ì•Œê³ ë¦¬ì¦˜ í™œìš©**

- ì½”ë“œë¥¼ ëŒë¦´ ë•Œ ì¡°ì‹¬í•´ì£¼ì„¸ìš”!

In [126]:
filtered_onehot

,/ BEVERAGE,ABRASIVES,ACNE MEDICATIONS,ACTIVITY,ADDITIVES/FLUIDS,ADHESIVES/CAULK,ADULT ANALGESICS,ADULT CEREAL,ADULT INCONTINENCE BRIEFS,ADULT INCONTINENCE MISC PRODUC,...,WRAP,WREATHS,WREATHS/TINSEL/GARLAND,WRITING INSTRUMENTS,XMAS PLUSH,YEAST DRY,YELLOW SUMMER SQUASH,YOGURT,YOGURT MULTI,YOGURT NOT MULTI
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
254725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254728,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
254729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¥¹ ì‹¤ìŠµ ë•Œ ë‹¤ë£¨ì—ˆë˜ FP-Growth ì•Œê³ ë¦¬ì¦˜ì´ ì°¸ê³  ìë£Œê°€ ëœ ì´ìœ ëŠ” ë‹¤ìŒ ì…€ ë•Œë¬¸ì´ì—ìš”... ëŒë¦´ ë•Œ ì¡°ì‹¬í•´ì£¼ì„¸ìš”... 30ë¶„ì”© ê±¸ë¦´ ë•Œë„ ìˆê±°ë“ ìš”... <strong>
</span>

<span style="color:black; background-color:#fff5b1; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤” "ì—¥? ê·¼ë° FP-Growth ì•Œê³ ë¦¬ì¦˜ì´ Apriori ì•Œê³ ë¦¬ì¦˜ë³´ë‹¤ ê³„ì‚°ì´ ë¹ ë¥´ë‹¤ê³  í•˜ì§€ ì•Šì•˜ë‚˜?"<strong>
</span>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ë„¤! ê³µë¶€ë¥¼ ì—´ì‹¬íˆ í•˜ì…¨êµ°ìš”!? ë§ìŠµë‹ˆë‹¤! ì´ë¡ ìƒ FP-Growth ì•Œê³ ë¦¬ì¦˜ì´ Apriori ì•Œê³ ë¦¬ì¦˜ì´ ê³„ì‚°ì´ ë” ë¹ ë¦…ë‹ˆë‹¤!<strong>
</span>

<span style="color:black; background-color:#fff5b1; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤” ì—¥ ê·¸ëŸ¼ ì™œ...? <strong>
</span>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ì‚¬ìš©í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ ì°¨ì´ì…ë‹ˆë‹¤! ì €í¬ëŠ” mlxtend ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í–ˆìŠµë‹ˆë‹¤! <strong>
</span>

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ mlxtend ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ ê²½ìš° AprioriëŠ” Cythonìœ¼ë¡œ ìµœì í™” ë˜ì–´ ë§¤ìš° ë¹ ë¥´ê²Œ ì‘ë™í•˜ì§€ë§Œ, FP-GrowthëŠ” ìˆœìˆ˜ Pythonìœ¼ë¡œ êµ¬í˜„í•˜ê¸° ë•Œë¬¸ì— ì˜¤íˆë ¤ ëŠë¦´ ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì´ ê²½ìš° fpgrowth_py ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ í™œìš©í•œë‹¤ë©´ ë” ë¹ ë¥´ê²Œ ì‘ë™í•  ìˆ˜ ìˆì–´ìš”~ <strong>
</span>

- FP-Growth ì•Œê³ ë¦¬ì¦˜ìœ¼ë¡œ ë¹ˆë°œ í•­ëª© ì§‘í•© ë„ì¶œ (ì§€ì§€ë„ 0.05% ì´ìƒ)

In [127]:
from mlxtend.frequent_patterns import fpgrowth

# FP-Growth ì•Œê³ ë¦¬ì¦˜ì„ ì‚¬ìš©í•´ frequent_itemsets_fpì„ ìƒì„±í•˜ì„¸ìš”.
# ì¡°ê±´: ìµœì†Œì§€ì§€ë„: 0.005, use_colnames=True, ì…ë ¥ ë°ì´í„°ëŠ” boolean íƒ€ì…(astype(bool))
frequent_itemsets_fp = fpgrowth(filtered_onehot.astype(bool), min_support=0.005, use_colnames=True)
frequent_itemsets_fp.head()

    support           itemsets
0  0.118961          (BANANAS)
1  0.038044  (POTATOES RUSSET)
2  0.023715     (ONIONS SWEET)
3  0.018816           (CELERY)
4  0.040133   (HAMBURGER BUNS)

- `association_rules`ë¡œ ì—°ê´€ ê·œì¹™ ë„ì¶œ ë° í•„í„°ë§(ì‹ ë¢°ë„ 40% ì´ìƒ)

In [128]:
# confidence ê¸°ì¤€ìœ¼ë¡œ ì—°ê´€ ê·œì¹™(rules)ì„ ì¶”ì¶œí•˜ì„¸ìš”.
# ì¡°ê±´: min_threshold=0.4, metric="***"
rules_fp = association_rules(frequent_itemsets_fp, metric="confidence", min_threshold=0.4)

rules_fp.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BANANAS),(FLUID MILK WHITE ONLY),0.118961,0.240686,0.061402,0.516154,2.144508,1.0,0.032770,1.569328,0.605754,0.205878,0.362785,0.385633
1,(POTATOES RUSSET),(FLUID MILK WHITE ONLY),0.038044,0.240686,0.019236,0.505624,2.100759,1.0,0.010079,1.535903,0.544704,0.074129,0.348917,0.292773
2,"(BANANAS, POTATOES RUSSET)",(FLUID MILK WHITE ONLY),0.010788,0.240686,0.006776,0.628093,2.609593,1.0,0.004179,2.041677,0.623525,0.027690,0.510207,0.328123
3,"(MAINSTREAM WHITE BREAD, POTATOES RUSSET)",(FLUID MILK WHITE ONLY),0.011463,0.240686,0.007577,0.660959,2.746144,1.0,0.004818,2.239592,0.643226,0.030979,0.553490,0.346219
4,"(POTATOES RUSSET, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.008519,0.240686,0.005606,0.658065,2.734118,1.0,0.003556,2.220635,0.639701,0.023013,0.549678,0.340678

In [129]:
from IPython.display import display

print("ğŸ”¥ Frequent Itemsets:")
display(frequent_itemsets_fp)

print("\nğŸ”¥ Association Rules:")
display(rules_fp)

ğŸ”¥ Frequent Itemsets:

       support                                           itemsets
0     0.118961                                          (BANANAS)
1     0.038044                                  (POTATOES RUSSET)
2     0.023715                                     (ONIONS SWEET)
3     0.018816                                           (CELERY)
4     0.040133                                   (HAMBURGER BUNS)
...        ...                                                ...
1552  0.005221             (PAPER NAPKINS, FLUID MILK WHITE ONLY)
1553  0.007267             (STRING CHEESE, FLUID MILK WHITE ONLY)
1554  0.006572  (ISOTONIC DRINKS SINGLE SERVE, FLUID MILK WHIT...
1555  0.005064            (FLUID MILK WHITE ONLY, STUFFING MIXES)
1556  0.006835                   (PATTIES, FLUID MILK WHITE ONLY)

[1557 rows x 2 columns]

ğŸ”¥ Association Rules:

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(BANANAS),(FLUID MILK WHITE ONLY),0.118961,0.240686,0.061402,0.516154,2.144508,1.0,0.032770,1.569328,0.605754,0.205878,0.362785,0.385633
1,(POTATOES RUSSET),(FLUID MILK WHITE ONLY),0.038044,0.240686,0.019236,0.505624,2.100759,1.0,0.010079,1.535903,0.544704,0.074129,0.348917,0.292773
2,"(BANANAS, POTATOES RUSSET)",(FLUID MILK WHITE ONLY),0.010788,0.240686,0.006776,0.628093,2.609593,1.0,0.004179,2.041677,0.623525,0.027690,0.510207,0.328123
3,"(MAINSTREAM WHITE BREAD, POTATOES RUSSET)",(FLUID MILK WHITE ONLY),0.011463,0.240686,0.007577,0.660959,2.746144,1.0,0.004818,2.239592,0.643226,0.030979,0.553490,0.346219
4,"(POTATOES RUSSET, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.008519,0.240686,0.005606,0.658065,2.734118,1.0,0.003556,2.220635,0.639701,0.023013,0.549678,0.340678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
465,(PAPER NAPKINS),(FLUID MILK WHITE ONLY),0.010717,0.240686,0.005221,0.487179,2.024127,1.0,0.002642,1.480662,0.511441,0.021209,0.324626,0.254436
466,(STRING CHEESE),(FLUID MILK WHITE ONLY),0.014133,0.240686,0.007267,0.514167,2.136253,1.0,0.003865,1.562910,0.539515,0.029353,0.360168,0.272179
467,(ISOTONIC DRINKS SINGLE SERVE),(FLUID MILK WHITE ONLY),0.015762,0.240686,0.006572,0.416936,1.732282,1.0,0.002778,1.302283,0.429497,0.026300,0.232118,0.222120
468,(STUFFING MIXES),(FLUID MILK WHITE ONLY),0.009390,0.240686,0.005064,0.539298,2.240667,1.0,0.002804,1.648166,0.558953,0.020669,0.393265,0.280169
469,(PATTIES),(FLUID MILK WHITE ONLY),0.013783,0.240686,0.006835,0.495870,2.060235,1.0,0.003517,1.506187,0.521811,0.027600,0.336072,0.262133

In [130]:
fp_growth = rules_fp.drop(columns=[
    "antecedent support", 
    "consequent support", 
    "representativity", 
    "conviction", 
    "zhangs_metric", 
    "jaccard", 
    "certainty", 
    "kulczynski"
])

- ìœ ì˜ë¯¸í•œ ê·œì¹™ í•„í„°ë§(í–¥ìƒë„ 1 ì´ìƒ)

In [131]:
fp_growth = fp_growth[fp_growth['lift'] >= 1]
fp_growth

,antecedents,consequents,support,confidence,lift,leverage
0,(BANANAS),(FLUID MILK WHITE ONLY),0.061402,0.516154,2.144508,0.032770
1,(POTATOES RUSSET),(FLUID MILK WHITE ONLY),0.019236,0.505624,2.100759,0.010079
2,"(BANANAS, POTATOES RUSSET)",(FLUID MILK WHITE ONLY),0.006776,0.628093,2.609593,0.004179
3,"(MAINSTREAM WHITE BREAD, POTATOES RUSSET)",(FLUID MILK WHITE ONLY),0.007577,0.660959,2.746144,0.004818
4,"(POTATOES RUSSET, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.005606,0.658065,2.734118,0.003556
...,...,...,...,...,...,...
465,(PAPER NAPKINS),(FLUID MILK WHITE ONLY),0.005221,0.487179,2.024127,0.002642
466,(STRING CHEESE),(FLUID MILK WHITE ONLY),0.007267,0.514167,2.136253,0.003865
467,(ISOTONIC DRINKS SINGLE SERVE),(FLUID MILK WHITE ONLY),0.006572,0.416936,1.732282,0.002778
468,(STUFFING MIXES),(FLUID MILK WHITE ONLY),0.005064,0.539298,2.240667,0.002804
469,(PATTIES),(FLUID MILK WHITE ONLY),0.006835,0.495870,2.060235,0.003517

## **4ï¸âƒ£ ì—°ê´€ ë¶„ì„ - ê²°ê³¼ í•´ì„**

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">
<strong> ğŸ¤“ ê²°ê³¼ë¥¼ í•´ì„í•˜ê³  ì „ëµì„ ì„¸ìš°ëŠ” ê²Œ í•´ë‹¹ ê³¼ì œì˜ í•µì‹¬ì´ë‹ˆ ê¼­!!!! ì„±ì˜ìˆê²Œ ê¹Šê²Œ ê³ ë¯¼í•œ í”ì ì„ ë‚¨ê²¨ì£¼ì„¸ìš”! <strong>
</span>

### **[ì—°ê´€ë¶„ì„] ì§€ì§€ë„ 0.9% ì´ìƒ, ì‹ ë¢°ë„ 55% ì´ìƒ, í–¥ìƒë„ 1 ì´ìƒ ì—°ê´€ ë¶„ì„**
subcategory ê¸°ì¤€ ë¶„ì„. <br>
lift(í–¥ìƒë„) ê¸°ì¤€ ìƒìœ„ 30ê°œë§Œ ë´„

In [175]:
results_sub = apriori_sub[(apriori_sub['confidence']>0.55)&(apriori_sub['support']>0.009)&(apriori_sub['lift']>1)]
# lift ê¸°ì¤€ ìƒìœ„ 30ê°œë§Œ ë³´ê¸°
top_rules = apriori_sub.sort_values('lift', ascending=False).head(30)
display(top_rules)

,antecedents,consequents,support,confidence,lift,leverage
44660,"(DRY NOODLES/PASTA, COLD CEREAL, BAKED BREAD/B...","(PASTA SAUCE, FLUID MILK PRODUCTS)",0.005649,0.484512,18.773910,0.005348
46998,"(DRY NOODLES/PASTA, COLD CEREAL, CHEESE)","(PASTA SAUCE, FLUID MILK PRODUCTS)",0.005323,0.481192,18.645288,0.005038
41744,"(DRY NOODLES/PASTA, COLD CEREAL, CHEESE)","(PASTA SAUCE, BAKED BREAD/BUNS/ROLLS)",0.005355,0.484031,18.546521,0.005066
49044,"(DRY NOODLES/PASTA, BEEF, FLUID MILK PRODUCTS,...","(PASTA SAUCE, BAKED BREAD/BUNS/ROLLS)",0.005366,0.472520,18.105443,0.005070
26730,"(DINNER MXS:DRY, DRY NOODLES/PASTA)","(BEEF, PASTA SAUCE)",0.005225,0.415418,17.905158,0.004933
41746,"(COLD CEREAL, PASTA SAUCE, CHEESE)","(DRY NOODLES/PASTA, BAKED BREAD/BUNS/ROLLS)",0.005355,0.523408,17.834082,0.005054
44659,"(DRY NOODLES/PASTA, FLUID MILK PRODUCTS, COLD ...","(PASTA SAUCE, BAKED BREAD/BUNS/ROLLS)",0.005649,0.464943,17.815139,0.005332
22238,"(DINNER MXS:DRY, DRY NOODLES/PASTA)","(PASTA SAUCE, BAKED BREAD/BUNS/ROLLS)",0.005845,0.464732,17.807021,0.005517
49047,"(BEEF, PASTA SAUCE, FLUID MILK PRODUCTS, CHEESE)","(DRY NOODLES/PASTA, BAKED BREAD/BUNS/ROLLS)",0.005366,0.521557,17.771018,0.005064
49046,"(DRY NOODLES/PASTA, BEEF, BAKED BREAD/BUNS/ROL...","(PASTA SAUCE, FLUID MILK PRODUCTS)",0.005366,0.457803,17.738999,0.005064
41745,"(DRY NOODLES/PASTA, COLD CEREAL, BAKED BREAD/B...","(PASTA SAUCE, CHEESE)",0.005355,0.459259,17.669100,0.005052
49045,"(DRY NOODLES/PASTA, BEEF, FLUID MILK PRODUCTS,...","(PASTA SAUCE, CHEESE)",0.005366,0.456275,17.554288,0.005061
22657,"(FROZEN PIZZA, DRY NOODLES/PASTA)","(PASTA SAUCE, BAKED BREAD/BUNS/ROLLS)",0.005881,0.454766,17.425181,0.005543
47000,"(COLD CEREAL, PASTA SAUCE, CHEESE)","(DRY NOODLES/PASTA, FLUID MILK PRODUCTS)",0.005323,0.520338,17.353446,0.005017
43117,"(PASTA SAUCE, SOUP, CHEESE)","(DRY NOODLES/PASTA, BAKED BREAD/BUNS/ROLLS)",0.005064,0.506677,17.264027,0.004771
31374,"(DRY NOODLES/PASTA, COLD CEREAL)","(PASTA SAUCE, FLUID MILK PRODUCTS)",0.007153,0.442018,17.127374,0.006735
22665,"(DRY NOODLES/PASTA, LUNCHMEAT)","(PASTA SAUCE, BAKED BREAD/BUNS/ROLLS)",0.005708,0.445602,17.074045,0.005374
202,(CAT LITTER),(CAT FOOD),0.005072,0.437966,17.016947,0.004774
22675,"(DRY NOODLES/PASTA, MEAT - SHELF STABLE)","(PASTA SAUCE, BAKED BREAD/BUNS/ROLLS)",0.005154,0.442982,16.973664,0.004851
29347,"(DINNER MXS:DRY, DRY NOODLES/PASTA)","(PASTA SAUCE, CHEESE)",0.005543,0.440699,16.955035,0.005216
44662,"(COLD CEREAL, PASTA SAUCE, BAKED BREAD/BUNS/RO...","(DRY NOODLES/PASTA, FLUID MILK PRODUCTS)",0.005649,0.507942,16.940049,0.005316
40521,"(VEGETABLES - SHELF STABLE, PASTA SAUCE, BAKED...","(DRY NOODLES/PASTA, BEEF)",0.005060,0.439482,16.918421,0.004761
46997,"(DRY NOODLES/PASTA, FLUID MILK PRODUCTS, COLD ...","(PASTA SAUCE, CHEESE)",0.005323,0.438126,16.856040,0.005007
36017,"(DRY NOODLES/PASTA, FLUID MILK PRODUCTS, BAG S...","(PASTA SAUCE, BAKED BREAD/BUNS/ROLLS)",0.005425,0.438869,16.816068,0.005103
29675,"(FROZEN PIZZA, DRY NOODLES/PASTA)","(PASTA SAUCE, CHEESE)",0.005645,0.436551,16.795456,0.005309
35437,"(SOFT DRINKS, BAKED BREAD/BUNS/ROLLS, CHEESES)","(DELI MEATS, BAG SNACKS)",0.005398,0.445416,16.786638,0.005076
43125,"(VEGETABLES - SHELF STABLE, PASTA SAUCE, CHEESE)","(DRY NOODLES/PASTA, BAKED BREAD/BUNS/ROLLS)",0.005406,0.490909,16.726762,0.005083
32198,"(DINNER MXS:DRY, DRY NOODLES/PASTA)","(FLUID MILK PRODUCTS, PASTA SAUCE)",0.005418,0.430712,16.689256,0.005093
45336,"(PASTA SAUCE, SOUP, FLUID MILK PRODUCTS)","(DRY NOODLES/PASTA, BAKED BREAD/BUNS/ROLLS)",0.005037,0.489508,16.679017,0.004735
49049,"(BEEF, PASTA SAUCE, BAKED BREAD/BUNS/ROLLS, CH...","(DRY NOODLES/PASTA, FLUID MILK PRODUCTS)",0.005366,0.499635,16.662987,0.005044

### **[ì—°ê´€ë¶„ì„] ì§€ì§€ë„ 0.9% ì´ìƒ, ì‹ ë¢°ë„ 55% ì´ìƒ, í–¥ìƒë„ 1 ì´ìƒ ì—°ê´€ ë¶„ì„**

In [172]:
results = apriori[(apriori['confidence']>0.55)&(apriori['support']>0.009)&(apriori['lift']>1)]
results

,antecedents,consequents,support,confidence,lift,leverage
1,(ADULT CEREAL),(FLUID MILK WHITE ONLY),0.019154,0.638028,2.650870,0.011928
2,(ALL FAMILY CEREAL),(FLUID MILK WHITE ONLY),0.026137,0.649118,2.696946,0.016446
49,(CHOCOLATE MILK),(FLUID MILK WHITE ONLY),0.021615,0.654308,2.718510,0.013664
52,(CORN),(FLUID MILK WHITE ONLY),0.013379,0.555682,2.308742,0.007584
59,(DAIRY PURE JUICE),(FLUID MILK WHITE ONLY),0.037451,0.588163,2.443691,0.022126
63,(EGGS),(FLUID MILK WHITE ONLY),0.051568,0.571652,2.375094,0.029856
70,(FRUIT BOWL AND CUPS),(FLUID MILK WHITE ONLY),0.011710,0.572773,2.379748,0.006790
95,(KIDS CEREAL),(FLUID MILK WHITE ONLY),0.033000,0.654316,2.718544,0.020861
101,(MACARONI CHEESE DNRS),(FLUID MILK WHITE ONLY),0.017100,0.572706,2.379471,0.009914
129,(PASTA CANNED),(FLUID MILK WHITE ONLY),0.013096,0.569089,2.364444,0.007557
131,(PEANUT BUTTER),(FLUID MILK WHITE ONLY),0.014466,0.566749,2.354720,0.008323
154,(REFRIGERATED BISCUITS REGULAR),(FLUID MILK WHITE ONLY),0.012331,0.554457,2.303652,0.006978
188,(TOASTER PASTRIES),(FLUID MILK WHITE ONLY),0.011593,0.575634,2.391635,0.006745
202,(WAFFLES/PANCAKES/FRENCH TOAST),(FLUID MILK WHITE ONLY),0.011279,0.579000,2.405623,0.006590
204,(YOGURT MULTI),(FLUID MILK WHITE ONLY),0.013418,0.576100,2.393572,0.007812
221,"(BANANAS, ALL FAMILY CEREAL)",(FLUID MILK WHITE ONLY),0.010721,0.716234,2.975800,0.007118
241,"(BANANAS, CONDENSED SOUP)",(FLUID MILK WHITE ONLY),0.009186,0.661017,2.746385,0.005841
247,"(BANANAS, DAIRY PURE JUICE)",(FLUID MILK WHITE ONLY),0.014451,0.686370,2.851719,0.009383
250,"(EGGS, BANANAS)",(FLUID MILK WHITE ONLY),0.017972,0.687078,2.854662,0.011676
262,"(BANANAS, KIDS CEREAL)",(FLUID MILK WHITE ONLY),0.009932,0.709877,2.949386,0.006565
265,"(BANANAS, MAINSTREAM WHEAT/MULTIGRAIN BR)",(FLUID MILK WHITE ONLY),0.011314,0.654405,2.718914,0.007153
266,"(MAINSTREAM WHITE BREAD, BANANAS)",(FLUID MILK WHITE ONLY),0.016492,0.663351,2.756081,0.010508
277,"(BANANAS, POTATO CHIPS)",(FLUID MILK WHITE ONLY),0.009642,0.625892,2.600448,0.005934
280,"(PREMIUM, BANANAS)",(FLUID MILK WHITE ONLY),0.013049,0.644061,2.675937,0.008173
285,"(BANANAS, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.014023,0.681289,2.830612,0.009069
288,"(SOFT DRINKS, BANANAS)",(FLUID MILK WHITE ONLY),0.013159,0.633648,2.632674,0.008161
299,"(BANANAS, YOGURT NOT MULTI)",(FLUID MILK WHITE ONLY),0.012268,0.643136,2.672095,0.007677
329,"(EGGS, DAIRY PURE JUICE)",(FLUID MILK WHITE ONLY),0.011769,0.695108,2.888025,0.007694
333,"(MAINSTREAM WHITE BREAD, DAIRY PURE JUICE)",(FLUID MILK WHITE ONLY),0.010026,0.736235,3.058901,0.006749
347,"(EGGS, KIDS CEREAL)",(FLUID MILK WHITE ONLY),0.009037,0.790522,3.284451,0.006286
351,"(MAINSTREAM WHITE BREAD, EGGS)",(FLUID MILK WHITE ONLY),0.016268,0.706444,2.935124,0.010726
358,"(PREMIUM, EGGS)",(FLUID MILK WHITE ONLY),0.011424,0.667125,2.771763,0.007302
361,"(EGGS, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.014062,0.671793,2.791157,0.009024
363,"(SOFT DRINKS, EGGS)",(FLUID MILK WHITE ONLY),0.011279,0.676478,2.810620,0.007266
388,"(IWS SINGLE CHEESE, MAINSTREAM WHITE BREAD)",(FLUID MILK WHITE ONLY),0.010466,0.631305,2.622937,0.006476
396,"(MAINSTREAM WHITE BREAD, KIDS CEREAL)",(FLUID MILK WHITE ONLY),0.012766,0.752604,3.126908,0.008684
430,"(MAINSTREAM WHITE BREAD, POTATO CHIPS)",(FLUID MILK WHITE ONLY),0.011934,0.590635,2.453964,0.007071
433,"(PREMIUM, MAINSTREAM WHITE BREAD)",(FLUID MILK WHITE ONLY),0.011765,0.658826,2.737282,0.007467
435,"(SFT DRNK LITER CARB INCL, MAINSTREAM WHITE BR...",(FLUID MILK WHITE ONLY),0.010073,0.559407,2.324217,0.005739
436,"(MAINSTREAM WHITE BREAD, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.013559,0.679520,2.823261,0.008757
437,"(MAINSTREAM WHITE BREAD, SNACK CAKE)",(FLUID MILK WHITE ONLY),0.010333,0.641638,2.665870,0.006457
441,"(SOFT DRINKS, MAINSTREAM WHITE BREAD)",(FLUID MILK WHITE ONLY),0.014969,0.621010,2.580163,0.009167
467,"(PREMIUM, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.010054,0.610926,2.538266,0.006093
469,"(PREMIUM, SOFT DRINKS)",(FLUID MILK WHITE ONLY),0.009198,0.587660,2.441602,0.005431
478,"(SOFT DRINKS, SHREDDED CHEESE)",(FLUID MILK WHITE ONLY),0.010321,0.595740,2.475172,0.006151

- ìœ„ ê²°ê³¼ë¥¼ ì§€ì§€ë„, ì‹ ë¢°ë„, í–¥ìƒë„ ê°’ì„ ë°”íƒ•ìœ¼ë¡œ í•´ì„í•´ì£¼ì„¸ìš”! (ë‘ ê°€ì§€ ì´ìƒ)

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">  
<strong> ğŸ¤“ [ ì˜ˆì‹œ ] 'FLUID MILK WHITE ONLY'(ìš°ìœ )ëŠ” ë‹¤ì–‘í•œ í’ˆëª©ê³¼ ë†’ì€ ê²°í•© êµ¬ë§¤ íŒ¨í„´ì„ ë³´ì´ë©°, 30ê°œ ì´ìƒì˜ ì œí’ˆê³¼ lift 2 ì´ìƒìœ¼ë¡œ ê°•í•œ ì—°ê´€ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. <br> íŠ¹íˆ ì‹œë¦¬ì–¼ ê³„ì—´ì¸ 'ALL FAMILY CEREAL', 'KIDS CEREAL', 'ADULT CEREAL'ì€ ê°ê° 65% ì´ìƒì˜ ì‹ ë¢°ë„ì™€ 2.6~2.7ì˜ liftë¥¼ ê¸°ë¡í•´ ëˆˆì— ë„ëŠ” ê²°í•© ì†Œë¹„ê°€ í™•ì¸ëœë‹¤. <br> ì „ë°˜ì ìœ¼ë¡œ ìš°ìœ ëŠ” ì‹œë¦¬ì–¼, ê³¼ì¼, ë² ì´ì»¤ë¦¬, ì•„ì¹¨ ì‹ì‚¬ë¥˜ ì œí’ˆë“¤ê³¼ ìì£¼ í•¨ê»˜ êµ¬ë§¤ë˜ë©°, ì´ëŠ” ì†Œë¹„ìì˜ ì‹ì‚¬ ì¤€ë¹„ ë§¥ë½ê³¼ ë°€ì ‘í•˜ê²Œ ì—°ê²°ëœ êµ¬ë§¤ ê²½í–¥ì„ ë³´ì—¬ì¤€ë‹¤. <strong>  
</span>

- í•´ì„ 1: [subcategory ê¸°ì¤€ ì—°ê´€ë¶„ì„] í–¥ìƒë„ ê¸°ì¤€ ìƒìœ„ 30ê°œ ì„œë¸Œì¹´í…Œê³ ë¦¬ë¥¼ ë³´ì•˜ì„ ë•Œ, 'íŒŒìŠ¤íƒ€ ê±´ë©´, ì½œë“œ ì‹œë¦¬ì–¼, ë¹µ, ì¹˜ì¦ˆ'ì™€ ê°™ì€ í’ˆëª©ì´ 'íŒŒìŠ¤íƒ€ ì†ŒìŠ¤, ìš°ìœ ', 'íŒŒìŠ¤íƒ€ ì†ŒìŠ¤, êµ¬ìš´ ë¹µ', 'ì†Œê³ ê¸°, íŒŒìŠ¤íƒ€ ì†ŒìŠ¤' ë“±ê³¼ í•¨ê»˜ êµ¬ë§¤ë˜ëŠ” ì—°ê´€ì„±ì´ ë§¤ìš° ë†’ë‹¤. (lift ê°’ì´ 16 ì´ìƒìœ¼ë¡œ ë§¤ìš° ë†’ìŒ). ì´ëŠ” ì†Œë¹„ìë“¤ì´ 'íŒŒìŠ¤íƒ€'ë¥¼ í•´ ë¨¹ê¸° ìœ„í•´ í•„ìš”í•œ ì‹ì¬ë£Œë“¤ì„ ì¥ë°”êµ¬ë‹ˆì— í•¨ê»˜ ë‹´ëŠ” ê²½ìš°ê°€ ë§ìŒì„ ë³´ì—¬ì¤€ë‹¤. ë˜í•œ 'ëƒ‰ë™ í”¼ì', 'ìˆ˜í”„', 'ì¹˜ì¦ˆ' ë“± ìš°ë¦¬ê°€ í”íˆ ìƒê°í–ˆì„ ë•Œ íŒŒìŠ¤íƒ€ì™€ ì˜ ì–´ìš¸ë¦¬ëŠ” í’ˆëª©ë“¤ì´ ì„œë¡œ ë°€ì ‘í•˜ê²Œ ì—°ê²°ëœ êµ¬ë§¤ ê²½í–¥ì„ ë³´ì—¬ì£¼ê³  ìˆë‹¤.

- í•´ì„ 2: [subcategory ê¸°ì¤€ ì—°ê´€ë¶„ì„] cat litter(ê³ ì–‘ì´ í™”ì¥ì‹¤)ì™€ cat food(ê³ ì–‘ì´ ìŒì‹)ì´ ì—°ê´€ì´ ë†’ë‹¤. ì¦‰ ê³ ì–‘ì´ ê´€ë ¨ í’ˆëª©ì´ ì„œë¡œ ë°€ì ‘í•˜ê²Œ ì—°ê´€ë˜ì–´ ìˆìŒì„ ë³´ì—¬ì¤€ë‹¤.

- í•´ì„ 3: [product type ê¸°ì¤€ ì—°ê´€ë¶„ì„] fluid milk white only(ìš°ìœ )ëŠ” ì‹œë¦¬ì–¼, ì´ˆì½” ìš°ìœ , ì˜¥ìˆ˜ìˆ˜, ë‹¬ê±€, ê³¼ì¼, ìœ ì œí’ˆ ì£¼ìŠ¤ ë“± ë‹¤ì–‘í•œ ì œí’ˆë“¤ê³¼ ìì£¼ í•¨ê»˜ êµ¬ë§¤ë˜ê³  ìˆë‹¤.

## **5ï¸âƒ£ ì—°ê´€ ë¶„ì„ - ë¹„ì¦ˆë‹ˆìŠ¤ ì „ëµ ìˆ˜ë¦½**

- ìœ„ ê²°ê³¼í•´ì„ì— ë”°ë¼ ë¹„ì¦ˆë‹ˆìŠ¤ ì „ëµì„ ìˆ˜ë¦½í•´ì£¼ì„¸ìš”! (2ê°€ì§€ ì´ìƒ) -> ëƒ…ë‹¤ GPTë§Œ íŒ¨ì„œ ì“°ì§€ ë§ì•„ì£¼ì„¸ìš” . . .. .

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">  
<strong> ğŸ¤“ [ ì˜ˆì‹œ ] ìš°ìœ ì™€ í•¨ê»˜í•˜ëŠ” ì‹íƒ íë ˆì´ì…˜ ì¡´ êµ¬ì„± <strong>  
</span>

**ğŸ¯ ëª©ì **

* ìš°ìœ ì™€ ìì£¼ í•¨ê»˜ êµ¬ë§¤ë˜ëŠ” ìƒí’ˆì„ ëª¨ì•„ **ì§ê´€ì ì¸ êµ¬ë§¤ ìœ ë„**
* **ê°ë‹¨ê°€ ìƒìŠ¹**, **í¸ë¦¬í•œ ì‡¼í•‘ ê²½í—˜ ì œê³µ**

**ğŸ›’ êµ¬ì„± í’ˆëª©**

* **ì‹œë¦¬ì–¼ë¥˜**: KIDS / ALL FAMILY / ADULT CEREAL
* **ë² ì´ì»¤ë¦¬**: ì‹ë¹µ, ë¹„ìŠ¤í‚·, í† ìŠ¤í„° í˜ì´ìŠ¤íŠ¸ë¦¬
* **ê³¼ì¼ë¥˜**: ë°”ë‚˜ë‚˜, ì»µê³¼ì¼
* **ìœ ì œí’ˆ/ê°„í¸ì‹**: ìš”ê±°íŠ¸, ë‹¬ê±€, ë§ˆì¹´ë¡œë‹ˆ ë“±

**ğŸ“ ìš´ì˜ ë°©ë²•**

* ìš°ìœ  ëƒ‰ì¥ê³  ì¸ê·¼ì— **"ìš°ìœ ì™€ ìµœê³ ì˜ ê¶í•©!"** í…Œë§ˆì¡´ ì„¤ì¹˜
* POP/QRì½”ë“œë¡œ **ì¶”ì²œ ì‹ë‹¨**ì´ë‚˜ **í• ì¸ ì¿ í°** ì œê³µ
* ê³„ì ˆë³„ í…Œë§ˆ êµ¬ì„± (ì˜ˆ: ì—¬ë¦„=ëƒ‰ê³¼ì¼, ê²¨ìš¸=ì˜¤íŠ¸ë°€)

**ğŸ“ˆ ê¸°ëŒ€ íš¨ê³¼**

* ìš°ìœ  ê²°í•© êµ¬ë§¤ìœ¨ ìƒìŠ¹
* ì—°ê´€ ì œí’ˆ ë§¤ì¶œ ì¦ê°€
* â€˜ê³ ë¯¼ ì—†ëŠ” ì¡°í•©â€™ìœ¼ë¡œ **ê³ ê° ë§Œì¡±ë„ í–¥ìƒ**

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">  
<strong> ğŸ¤“ ì „ëµ 1: íŒŒìŠ¤íƒ€ ì¶”ì²œ ì¡°í•© ë¬¶ìŒ íŒë§¤ <strong>  
</span> <br>

**ğŸ¯ ëª©ì **

* íŒŒìŠ¤íƒ€ ì†ŒìŠ¤ì™€ íŒŒìŠ¤íƒ€ ë©´ ì¶”ì²œ ì¡°í•©ì„ ë§Œë“¤ì–´ **í¸ë¦¬í•œ ì‡¼í•‘ ê²½í—˜ ì œê³µ**

**ğŸ›’ êµ¬ì„± í’ˆëª©**

* **íŒŒìŠ¤íƒ€ ì¶”ì²œ ì¡°í•© ì„¸íŠ¸**

| ì™„ì„± íŒŒìŠ¤íƒ€ ì¢…ë¥˜ | íŒŒìŠ¤íƒ€ ì†ŒìŠ¤ ê´€ë ¨ í’ˆëª©| íŒŒìŠ¤íƒ€ ë©´|
|---|---|---|
| í¬ë¦¼ íŒŒìŠ¤íƒ€    | í° ìš°ìœ , ìƒí¬ë¦¼, ë²„í„°, ì¹˜ì¦ˆ (íŒŒë¥´ë©”ì‚°, ê³ ë¥´ê³¤ì¡¸ë¼)     | ë‘êº¼ìš´ ë©´ (ë”¸ë¦¬ì•„ë—„ë ˆ, ë§ê·€ë‹ˆ, í˜íˆ¬ì¹˜ë„¤) |
| ì˜¤ì¼ íŒŒìŠ¤íƒ€    | ì˜¬ë¦¬ë¸Œ ì˜¤ì¼, ë§ˆëŠ˜, ì•Œë¦¬ì˜¤ ì˜¬ë¦¬ì˜¤ ì†ŒìŠ¤, í˜í˜ë¡ ì¹˜ë…¸       | ê°€ëŠ” ë©´ (ìŠ¤íŒŒê²Œí‹°ë‹ˆ, ì¹´í ë¦¬ë‹ˆ)       |
| í† ë§ˆí†  íŒŒìŠ¤íƒ€   | í† ë§ˆí†  ì†ŒìŠ¤, ë‹¤ì§„ í† ë§ˆí†  ìº”, ë°”ì§ˆ, ì–‘íŒŒ, ë§ˆëŠ˜        | ê¸°ë³¸ ë©´ (ìŠ¤íŒŒê²Œí‹°, ë¶€ì¹´í‹°ë‹ˆ)        |
| ë¡œì œ íŒŒìŠ¤íƒ€    | í† ë§ˆí†  ì†ŒìŠ¤, ìƒí¬ë¦¼, ìš°ìœ , ê³ ì¶”ì¥ (ë¡œì œ í•œì‹í’ì¼ ë•Œ)    | ë‘êº¼ìš´ ë©´ (í˜íˆ¬ì¹˜ë„¤, ë¦¬ê°€í† ë‹ˆ)       |
| ë³¼ë¡œë„¤ì œ      | í† ë§ˆí†  ì†ŒìŠ¤, ë‹¤ì§„ ì†Œê³ ê¸°, ë ˆë“œ ì™€ì¸, ì–‘íŒŒ, ì…€ëŸ¬ë¦¬      | ë„“ì€ ë©´ (íŒŒíŒŒë¥´ë¸ë ˆ, ë§ê·€ë‹ˆ)        |
| ì œë…¸ë² ì œ íŒŒìŠ¤íƒ€  | ë°”ì§ˆí˜ìŠ¤í†  ì†ŒìŠ¤, ì˜¬ë¦¬ë¸Œ ì˜¤ì¼, ì£, íŒŒë¥´ë©”ì‚° ì¹˜ì¦ˆ        | ê¼¬ì¸ ë©´ (íŠ¸ë¡œí”¼ì—, í‘¸ì‹¤ë¦¬)         |
| í•´ì‚°ë¬¼ íŒŒìŠ¤íƒ€   | í† ë§ˆí†  ì†ŒìŠ¤(ë§¤ì½¤), í•´ì‚°ë¬¼ ë¯¹ìŠ¤(ì˜¤ì§•ì–´, í™í•©, ìƒˆìš°), ë§ˆëŠ˜ | ê°€ëŠ” ë©´ (ìŠ¤íŒŒê²Œí‹°, ë§ê·€ë‹ˆ)         |


**ğŸ“ ìš´ì˜ ë°©ë²•**

* ì™„ì„± íŒŒìŠ¤íƒ€ ì¢…ë¥˜ë³„ë¡œ ì¬ë£Œ ë¬¶ìŒ íŒë§¤ ë° í–‰ì‚¬
* ì™„ì„± íŒŒìŠ¤íƒ€ ì¢…ë¥˜ë³„ë¡œ í…Œë§ˆë¥¼ ë§Œë“¤ì–´ ì§„ì—´ëŒ€ì— ê´€ë ¨ í’ˆëª© í•¨ê»˜ ë°°ì¹˜
  

**ğŸ“ˆ ê¸°ëŒ€ íš¨ê³¼**

* íŒŒìŠ¤íƒ€ ê´€ë ¨ êµ¬ë§¤ìœ¨ ìƒìŠ¹
* ì—°ê´€ ì œí’ˆ ë§¤ì¶œ ì¦ê°€
* â€˜ê³ ë¯¼ ì—†ëŠ” ì¡°í•©â€™ìœ¼ë¡œ **ê³ ê° ë§Œì¡±ë„ í–¥ìƒ**

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">  
<strong> ğŸ¤“ ì „ëµ 2: ì–‘ì‹ ê´€ë ¨ í…Œë§ˆì¡´(ì•„ë©”ì¶”, ì ë©”ì¶”/ì €ë©”ì¶”) ë§Œë“¤ê¸° <strong>  
</span> <br>

**ğŸ¯ ëª©ì **

* ì•„ì¹¨ ë©”ë‰´, ì ì‹¬ ë©”ë‰´, ì €ë… ë©”ë‰´ì— ì–´ìš¸ë¦¬ëŠ” ì¬ë£Œë“¤ì„ ë¬¶ì–´ í…Œë§ˆì¡´ì„ ë§Œë“¤ì–´ì„œ **ê°ë‹¨ê°€ ë†’ì´ê¸°**
  
**ğŸ›’ êµ¬ì„± í’ˆëª©**
* **ì•„ë©”ì¶”**: ìš°ìœ  + ì‹œë¦¬ì–¼ + ë‹¬ê±€ + ë°”ë‚˜ë‚˜ + ìš”ê±°íŠ¸ + ìˆ˜í”„ ë“± ë¹„êµì  ê°€ë²¼ìš´ ì‹ì‚¬ì— ì–´ìš¸ë¦¬ëŠ” í…Œë§ˆ
* **ì ë©”ì¶”/ì €ë©”ì¶”**: íŒŒìŠ¤íƒ€ ê´€ë ¨ í’ˆëª© + ë¹µ ê´€ë ¨ í’ˆëª© + ì†Œê³ ê¸° + ëƒ‰ë™ í”¼ì ë“± ì ì‹¬ì´ë‚˜ ì €ë… ì‹ì‚¬ì— ì–´ìš¸ë¦¬ëŠ” í…Œë§ˆ


**ğŸ“ ìš´ì˜ ë°©ë²•**

* í…Œë§ˆë³„ë¡œ ì¬ë£Œ ë¬¶ìŒ íŒë§¤ ë° í–‰ì‚¬
* í…Œë§ˆë³„ë¡œ ì§„ì—´ëŒ€ì— ê´€ë ¨ í’ˆëª© í•¨ê»˜ ë°°ì¹˜
  

**ğŸ“ˆ ê¸°ëŒ€ íš¨ê³¼**

* êµ¬ë§¤ìœ¨ ìƒìŠ¹
* ì—°ê´€ ì œí’ˆ ë§¤ì¶œ ì¦ê°€
* â€˜ê³ ë¯¼ ì—†ëŠ” ì¡°í•©â€™ìœ¼ë¡œ **ê³ ê° ë§Œì¡±ë„ í–¥ìƒ**

<span style="color:black; background-color:#E6E6FA; padding:2px 4px; border-radius:4px">  
<strong> ğŸ¤“ ì „ëµ 3: ì• ì™„ë™ë¬¼ ê´€ë ¨ í’ˆëª© ì£¼ë³„ë¡œ ë‹¤ë¥¸ ì œí’ˆ ë¬¶ìŒ í”„ë¡œëª¨ì…˜ <strong>  
</span> <br>

**ğŸ¯ ëª©ì **
* ì• ì™„ë™ë¬¼ ê´€ë ¨ í’ˆëª©ì„ êµ¬ë§¤í•˜ëŸ¬ ì˜¨ ì†Œë¹„ìë“¤ì—ê²Œ (ë‹¨ê³¨ í’ˆëª© ë§ê³ ) ë‹¤ì–‘í•œ í’ˆëª©ì„ ì²´í—˜í•˜ê²Œ í•¨
* 
  
**ğŸ“ ìš´ì˜ ë°©ë²•**
* 5ì›” 1ì£¼ì°¨ì—ëŠ” ê³ ë“±ì–´ë§› ì¸„ë¥´+ê³ ì–‘ì´ ëª¨ë˜ í–‰ì‚¬
* 5ì›” 2ì£¼ì°¨ì—ëŠ” ì°¸ì¹˜ë§› ì¸„ë¥´+ê³ ì–‘ì´ ëª¨ë˜ í–‰ì‚¬
* ë“±ê³¼ ê°™ì´ ë‹¤ì–‘í•œ ì¡°í•©ìœ¼ë¡œ íŒë§¤ í–‰ì‚¬
  
**ğŸ“ˆ ê¸°ëŒ€ íš¨ê³¼**
* ë‹¤ì–‘í•œ ì œí’ˆ ì²´í—˜í•œ ì†Œë¹„ìê°€ ê°€ì¥ ë§Œì¡±ìŠ¤ëŸ¬ìš´ ì• ì™„ë™ë¬¼ ì œí’ˆì„ ì°¾ê²Œ ë§Œë“¤ ìˆ˜ ìˆìŒ

# **ğŸ¤“ ê¸°ê°€ ë§‰íŒ ì „ëµì„ ì œì‹œí•˜ëŠ” ë¶„ê»˜ëŠ” í–‰ìš´ì´ ì°¾ì•„ì˜µë‹ˆë‹¤~ğŸ€**